In [2]:
import os
import pandas as pd
import polars as pl

### Review contents of all `./HFMG/Compressed`
* 29 Files or parent directories.
* We are interested only in data having a timestamp.

In [2]:
struct = {}
path = './HFHS Data/Compressed/'
for root, dirs, files in os.walk(path):
    if root != path: 
        struct[root] = files

struct = dict(sorted(struct.items()))

In [3]:
assert len(struct) == 29
for k, v in struct.items():
    print(str(len(v)) + '\t' + k)

1	./HFHS Data/Compressed/Complete ED Provider Notes for 2014 Patients
4	./HFHS Data/Compressed/Complete ED Provider Notes for 2015-2016 Patients
1	./HFHS Data/Compressed/WSU_HASHED_ALL_CHIEF_COMPLAINTS
1	./HFHS Data/Compressed/WSU_HASHED_ALL_CHIEF_COMPLAINTS_NEW
1	./HFHS Data/Compressed/WSU_HASHED_ALL_CHIEF_COMPLAINTS_inc_unspecified
1	./HFHS Data/Compressed/WSU_HASHED_ALL_INPATIENT_ADMIT_DISCHARGE_TIMES
1	./HFHS Data/Compressed/WSU_HASHED_ATMO_METRICS_3
1	./HFHS Data/Compressed/WSU_HASHED_ATMO_METRICS_4
1	./HFHS Data/Compressed/WSU_HASHED_BASE_CSN_SELECT
1	./HFHS Data/Compressed/WSU_HASHED_BASE_CSN_SELECT_FirstNonEDDepartment
1	./HFHS Data/Compressed/WSU_HASHED_BASE_MRN_SELECT
1	./HFHS Data/Compressed/WSU_HASHED_BED_PATIENT_MOVEMENT
1	./HFHS Data/Compressed/WSU_HASHED_BED_REQUEST_INFO
6	./HFHS Data/Compressed/WSU_HASHED_CSN_MRN_PATIENT_MOVEMENT
1	./HFHS Data/Compressed/WSU_HASHED_DX_LIST
1	./HFHS Data/Compressed/WSU_HASHED_EVENTS
1	./HFHS Data/Compressed/WSU_HASHED_LAB_TEST_INFO
1	./HFHS Data/Compressed/WSU_HASHED_MEDICATION_HISTORY
1	./HFHS Data/Compressed/WSU_HASHED_MIN_VITALS_TRIAGE
3	./HFHS Data/Compressed/WSU_HASHED_MRN_DX_HISTORY_Headers_and_CSV_and_Tab_delim
1	./HFHS Data/Compressed/WSU_HASHED_NOTE_ED_Notes_only
1	./HFHS Data/Compressed/WSU_HASHED_NOTE_ED_Provider_Notes_only
1	./HFHS Data/Compressed/WSU_HASHED_NOTE_ED_other_Notes
1	./HFHS Data/Compressed/WSU_HASHED_NOTE_INFO
1	./HFHS Data/Compressed/WSU_HASHED_NOTE_INFO_NEW
1	./HFHS Data/Compressed/WSU_HASHED_NOTE_INFO_TAB
1	./HFHS Data/Compressed/WSU_HASHED_PROVIDER_IN_OUT
1	./HFHS Data/Compressed/WSU_HASHED_VITALS_GLUCOSE_ETC
6	./HFHS Data/Compressed/WSU_HASHED_VITALS_GLUCOSE_ETC_PT1-PT6

In [4]:
targets = []
for root, files in struct.items():
    for file in sorted(files): 
        if 'note' in root.lower() or 'note' in file.lower():
            print(os.path.join(root, file))
        else: 
            targets.append(os.path.join(root, file))

./HFHS Data/Compressed/Complete ED Provider Notes for 2014 Patients/2014 ED Provider Notes.txt
./HFHS Data/Compressed/Complete ED Provider Notes for 2015-2016 Patients/Provider Notes 2015-01-01 through 2015-06-30.txt
./HFHS Data/Compressed/Complete ED Provider Notes for 2015-2016 Patients/Provider Notes 2015-07-01 through 2015-12-31.txt
./HFHS Data/Compressed/Complete ED Provider Notes for 2015-2016 Patients/Provider Notes 2016-01-01 through 2016-06-30.txt
./HFHS Data/Compressed/Complete ED Provider Notes for 2015-2016 Patients/Provider Notes 2016-07-01 through 2016-12-31.txt
./HFHS Data/Compressed/WSU_HASHED_NOTE_ED_Notes_only/WSU_HASHED_NOTE_ED_Notes_only.txt
./HFHS Data/Compressed/WSU_HASHED_NOTE_ED_Provider_Notes_only/WSU_HASHED_NOTE_ED_Provider_Notes_only.txt
./HFHS Data/Compressed/WSU_HASHED_NOTE_ED_other_Notes/WSU_HASHED_NOTE_ED_other_Notes.txt
./HFHS Data/Compressed/WSU_HASHED_NOTE_INFO/WSU_HASHED_NOTE_INFO.csv
./HFHS Data/Compressed/WSU_HASHED_NOTE_INFO_NEW/WSU_HASHED_NOTE_INFO_NEW.csv
./HFHS Data/Compressed/WSU_HASHED_NOTE_INFO_TAB/WSU_HASHED_NOTE_INFO_TAB.txt

In [5]:
len(targets)

33

In [6]:
targets

['./HFHS Data/Compressed/WSU_HASHED_ALL_CHIEF_COMPLAINTS/WSU_HASHED_ALL_CHIEF_COMPLAINTS.csv',
 './HFHS Data/Compressed/WSU_HASHED_ALL_CHIEF_COMPLAINTS_NEW/WSU_HASHED_ALL_CHIEF_COMPLAINTS_NEW.csv',
 './HFHS Data/Compressed/WSU_HASHED_ALL_CHIEF_COMPLAINTS_inc_unspecified/WSU_HASHED_ALL_CHIEF_COMPLAINTS_inc_unspecified.csv',
 './HFHS Data/Compressed/WSU_HASHED_ALL_INPATIENT_ADMIT_DISCHARGE_TIMES/WSU_HASHED_ALL_INPATIENT_ADMIT_DISCHARGE_TIMES.csv',
 './HFHS Data/Compressed/WSU_HASHED_ATMO_METRICS_3/WSU_HASHED_ATMO_METRICS_3.csv',
 './HFHS Data/Compressed/WSU_HASHED_ATMO_METRICS_4/WSU_HASHED_ATMO_METRICS_4.csv',
 './HFHS Data/Compressed/WSU_HASHED_BASE_CSN_SELECT/WSU_HASHED_BASE_CSN_SELECT.csv',
 './HFHS Data/Compressed/WSU_HASHED_BASE_CSN_SELECT_FirstNonEDDepartment/WSU_HASHED_BASE_CSN_SELECT_FirstNonEDDepartment.csv',
 './HFHS Data/Compressed/WSU_HASHED_BASE_MRN_SELECT/WSU_HASHED_BASE_MRN_SELECT.csv',
 './HFHS Data/Compressed/WSU_HASHED_BED_PATIENT_MOVEMENT/WSU_HASHED_BED_PATIENT_MOVEMENT.csv',
 './HFHS Data/Compressed/WSU_HASHED_BED_REQUEST_INFO/WSU_HASHED_BED_REQUEST_INFO.csv',
 './HFHS Data/Compressed/WSU_HASHED_CSN_MRN_PATIENT_MOVEMENT/WSU_HASHED_CSN_MRN_All_patient_movement_DATASET1.csv',
 './HFHS Data/Compressed/WSU_HASHED_CSN_MRN_PATIENT_MOVEMENT/WSU_HASHED_CSN_MRN_All_patient_movement_DATASET2.csv',
 './HFHS Data/Compressed/WSU_HASHED_CSN_MRN_PATIENT_MOVEMENT/WSU_HASHED_CSN_MRN_FirstNonEDDepartment DATASET1.csv',
 './HFHS Data/Compressed/WSU_HASHED_CSN_MRN_PATIENT_MOVEMENT/WSU_HASHED_CSN_MRN_FirstNonEDDepartment_DATASET2.csv',
 './HFHS Data/Compressed/WSU_HASHED_CSN_MRN_PATIENT_MOVEMENT/WSU_HASHED_CSN_MRN_FirstNonEDDepartment_headers.csv',
 './HFHS Data/Compressed/WSU_HASHED_CSN_MRN_PATIENT_MOVEMENT/WSU_HASHED_CSN_MRN_PatientMovement_headers.csv',
 './HFHS Data/Compressed/WSU_HASHED_DX_LIST/WSU_HASHED_DX_LIST.csv',
 './HFHS Data/Compressed/WSU_HASHED_EVENTS/WSU_HASHED_EVENTS.csv',
 './HFHS Data/Compressed/WSU_HASHED_LAB_TEST_INFO/WSU_HASHED_LAB_TEST_INFO.csv',
 './HFHS Data/Compressed/WSU_HASHED_MEDICATION_HISTORY/WSU_HASHED_MEDICATION_HISTORY.csv',
 './HFHS Data/Compressed/WSU_HASHED_MIN_VITALS_TRIAGE/WSU_HASHED_MIN_VITALS_TRIAGE.csv',
 './HFHS Data/Compressed/WSU_HASHED_MRN_DX_HISTORY_Headers_and_CSV_and_Tab_delim/WSU_HASHED_MRN_DX_HISTORY.csv',
 './HFHS Data/Compressed/WSU_HASHED_MRN_DX_HISTORY_Headers_and_CSV_and_Tab_delim/WSU_HASHED_MRN_DX_HISTORY_HEADERS.csv',
 './HFHS Data/Compressed/WSU_HASHED_MRN_DX_HISTORY_Headers_and_CSV_and_Tab_delim/WSU_HASHED_MRN_DX_HISTORY_tab_delimited.txt',
 './HFHS Data/Compressed/WSU_HASHED_PROVIDER_IN_OUT/WSU_HASHED_PROVIDER_IN_OUT.csv',
 './HFHS Data/Compressed/WSU_HASHED_VITALS_GLUCOSE_ETC/WSU_HASHED_VITALS_GLUCOSE_ETC.csv',
 './HFHS Data/Compressed/WSU_HASHED_VITALS_GLUCOSE_ETC_PT1-PT6/WSU_HASHED_VITALS_GLUCOSE_ETC_PT1.csv',
 './HFHS Data/Compressed/WSU_HASHED_VITALS_GLUCOSE_ETC_PT1-PT6/WSU_HASHED_VITALS_GLUCOSE_ETC_PT2.csv',
 './HFHS Data/Compressed/WSU_HASHED_VITALS_GLUCOSE_ETC_PT1-PT6/WSU_HASHED_VITALS_GLUCOSE_ETC_PT3.csv',
 './HFHS Data/Compressed/WSU_HASHED_VITALS_GLUCOSE_ETC_PT1-PT6/WSU_HASHED_VITALS_GLUCOSE_ETC_PT4.csv',
 './HFHS Data/Compressed/WSU_HASHED_VITALS_GLUCOSE_ETC_PT1-PT6/WSU_HASHED_VITALS_GLUCOSE_ETC_PT5.csv',
 './HFHS Data/Compressed/WSU_HASHED_VITALS_GLUCOSE_ETC_PT1-PT6/WSU_HASHED_VITALS_GLUCOSE_ETC_PT6.csv']

Pull out the first three rows of each file and inspect for: 
* presence of headers,
* presence/position of `CSN_HASH` (visit ID),
* presence/position of timestamp.

In [7]:
for i, file in enumerate(targets): 
    print(f'File {i + 1}: {file}\n')
    with open(file) as f:
        [print('\t' + f.readline().strip()) for _ in range(3)]
    print('\n')

File 1: ./HFHS Data/Compressed/WSU_HASHED_ALL_CHIEF_COMPLAINTS/WSU_HASHED_ALL_CHIEF_COMPLAINTS.csv

	﻿CSN_HASH,ChiefComplaint
	0x00000F5D77FB3D9F299A327BF784BE4878B53B45B2A4A3AAB20764E6F130B0EA,RASH
	0x0000429B06ACE47BEAC568C8A6DD22F83037E7385DB9BBEFC998E6F9CBA79BFE,THREATENED MISCARRIAGE


File 2: ./HFHS Data/Compressed/WSU_HASHED_ALL_CHIEF_COMPLAINTS_NEW/WSU_HASHED_ALL_CHIEF_COMPLAINTS_NEW.csv

	﻿0x82CF08E5F226CF14A8667B57966A110E07380D24835DC3BE8596E1FFDEC3994A,SUTURE / STAPLE REMOVAL
	0x82CF08E5F226CF14A8667B57966A110E07380D24835DC3BE8596E1FFDEC3994A,EDEMA
	0x768947877A3F32D11AFF45F2DCE525704A03C5D530AEFA2A3142656196D12EF3,SUTURE / STAPLE REMOVAL


File 3: ./HFHS Data/Compressed/WSU_HASHED_ALL_CHIEF_COMPLAINTS_inc_unspecified/WSU_HASHED_ALL_CHIEF_COMPLAINTS_inc_unspecified.csv

	﻿0x3A52E6871411F7C0A5B0B907AFEFBE9837CCA970B1B0854740BC3617E4517B7A,*Unspecified
	0x52A720BBB0C8918DA404DF24E6EE05CE0B397B9608C6C96995051459178DCC90,*Unspecified
	0xE54DBEDF3E46C2A92DC48C472ACD1F87B1E8AFD1BA5FD86B763FBC4A386F86E2,*Unspecified


File 4: ./HFHS Data/Compressed/WSU_HASHED_ALL_INPATIENT_ADMIT_DISCHARGE_TIMES/WSU_HASHED_ALL_INPATIENT_ADMIT_DISCHARGE_TIMES.csv

	﻿CSN_HASH,EncounterDate,Inpatient_Admission_date_time,Hospital_discharge_date_time,AdmissionType,AdmissionSource,admittingdepartmentname,hospitalservice
	0x12DEC1C802020A5F54C524E93A023FF061BC89EB4B24612BD7B88154E28BC251,20140507,2014-05-07 21:33:00.000,2014-05-13 12:10:00.000,Emergency,Transfer From Hospital,HFK 2L PSYCH LEVEL 2 MOD C,Behavioral Health - Psychiatry
	0x17604DCDE4985E217581A442FD337F5D95EE4ABA9B818443CE86CA1C9DD1015F,20140507,2014-05-07 19:56:00.000,2014-05-13 14:45:00.000,Information Not Available,Transfer From Hospital,HFK 4L PSYCH LEVEL 4 MOD D,Behavioral Health - Psychiatry


File 5: ./HFHS Data/Compressed/WSU_HASHED_ATMO_METRICS_3/WSU_HASHED_ATMO_METRICS_3.csv

	"CSN_HASH","MRN_HASH","BED_REQ","EdDisposition","BED_REQ_USER","ATMO_START","ATMO_USER","IQS_COMPLETE","IQS_USER","BED_ASSIGNED","BED_USER","MINS_BEDREQ_TO_ATMO","MINS_ATMO_TO_IQS_COMP","MINS_IQS_COMP_TO_ASSIGN","Pat_Class","Last_Dep","Bed_Asgn_No_IQS","Bed_Asgn_Before_IQS","ATMO_Start_WI_30","Bed_Req_Hour","Loc_Nm","TOTAL_TIME"
	"3A52E6871411F7C0A5B0B907AFEFBE9837CCA970B1B0854740BC3617E4517B7A","6BD9A5ECFB797A64A241FE9F16496653F5CC7AB794A74D1BCD239E3BFB4CA181","2014-05-06 08:17:15","Discharge","HOUSEMAN, KEVIN M","","","","","","","","","","106","FAIRLANE EMERGENCY MED","0","0","0","8","HFHN FAIRLANE",""
	"1B9BAB8A67F537C45550CE5BFBE20B5CD4CC33B85DB77F67D8D5979D1214DF30","18AE9CEF106A6DC0A688E8FB3CD3B42E922652391238C1BA36E9EF9C2E784DD1","2014-05-01 04:32:54","Admit","MUNSON, KASIA","2014-05-01 04:34:43","TURNER, JEANNIN","2014-05-01 08:10:02","DIMAPILIS-PATERSON, EDITA","2014-05-01 16:00:35","BURD, NICOLE","2","216","470","101","HFH F2 PULMONARY MED","0","0","1","4","HFHN HENRY FORD HOSPITAL","688"


File 6: ./HFHS Data/Compressed/WSU_HASHED_ATMO_METRICS_4/WSU_HASHED_ATMO_METRICS_4.csv

	CSN_HASH,MRN_HASH,BED_REQ,EdDisposition,BED_REQ_USER,ATMO_START,ATMO_USER,IQS_COMPLETE,IQS_USER,BED_ASSIGNED,BED_USER,MINS_BEDREQ_TO_ATMO,MINS_ATMO_TO_IQS_COMP,MINS_IQS_COMP_TO_ASSIGN,Pat_Class,Last_Dep,Bed_Asgn_No_IQS,Bed_Asgn_Before_IQS,ATMO_Start_WI_30,Bed_Req_Hour,Loc_Nm,TOTAL_TIME
	0x3A52E6871411F7C0A5B0B907AFEFBE9837CCA970B1B0854740BC3617E4517B7A,0x6BD9A5ECFB797A64A241FE9F16496653F5CC7AB794A74D1BCD239E3BFB4CA181,5/6/2014 8:17,Discharge,"HOUSEMAN, KEVIN M",,,,,,,,,,106,FAIRLANE EMERGENCY MED,0,0,0,8,HFHN FAIRLANE,
	0x1B9BAB8A67F537C45550CE5BFBE20B5CD4CC33B85DB77F67D8D5979D1214DF30,0x18AE9CEF106A6DC0A688E8FB3CD3B42E922652391238C1BA36E9EF9C2E784DD1,5/1/2014 4:32,Admit,"MUNSON, KASIA",5/1/2014 4:34,"TURNER, JEANNIN",5/1/2014 8:10,"DIMAPILIS-PATERSON, EDITA",5/1/2014 16:00,"BURD, NICOLE",2,216,470,101,HFH F2 PULMONARY MED,0,0,1,4,HFHN HENRY FORD HOSPITAL,688


File 7: ./HFHS Data/Compressed/WSU_HASHED_BASE_CSN_SELECT/WSU_HASHED_BASE_CSN_SELECT.csv

	﻿CSN_HASH,MRN_HASH,Payer,BenefitPlan,AcuityLevel,PrimaryChiefComplaint,yearsold,patientsex,ArrivalMethod,PrimaryCareArea,EdDepartment,EDLocation,AdmittingDepartment,Unit_Admitted_to,PrimaryDiagnosisName,EdDisposition,Hospital_Discharge_Disposition,TIME_IN,ED_ROOMED_TIME,BED_REQUEST_TIME,BED_ASSIGNED_TIME,ED_TIME_OUT,FIRST_PROVIDER_TIME,FIRST_ATTENDING_ASSIGNED,ROOM_ASSIGNED_TIME,HOSPITAL_DISCHARGE_TIME,Triage_Start_date_time,Triage_Complete_date_time,ED_DISPO_TIME_FIRST,ED_DISPO_TIME_LAST,Admission_decision_date_time,Inpatient_Admission_date_time,Hospital_discharge_date_time,first_provider_id,first_provider_name,HospitalDischargeDisposition
	0x1C10CE5E08DA893C2506F950CE7CE9CE6673F49E6665F2574FFC197E36169281,0x3662AA3877C5A806C454A98216737FDCFFC58720BAF661EEF4A197B58969386A,BLUE CROSS BLUE SHIELD,BLUE CROSS-OUT OF STATE,3 - Urgent,HF AMB POST-OP,65,Female,*Unspecified,HF ED BRN MAIN,BROWNSTOWN EMERGENCY MED,HFWY BROWNSTOWN,*Unspecified,NULL,*Unspecified,Discharge,Home or Self Care,2014-06-13 11:27:00.000,2014-06-13 05:55:00.000,NULL,NULL,2014-06-13 17:49:00.000,NULL,NULL,2014-06-13 05:55:00.000,2014-06-13 17:49:00.000,2014-06-13 12:16:00.000,2014-06-13 12:28:17.000,2014-06-13 17:45:07.000,2014-06-13 17:45:07.000,NULL,NULL,NULL,H8004,"FINAZZO, SALVATORE J",NULL
	0x3A52E6871411F7C0A5B0B907AFEFBE9837CCA970B1B0854740BC3617E4517B7A,0x6BD9A5ECFB797A64A241FE9F16496653F5CC7AB794A74D1BCD239E3BFB4CA181,HAP,HAP HFMG ASSIGNED CAP,3 - Urgent,*Unspecified,61,Female,Car,HF ED FRL CDU,FAIRLANE EMERGENCY MED,HFHN FAIRLANE,*Unspecified,NULL,*Unspecified,Discharge,Home or Self Care,2014-05-05 14:02:00.000,2014-05-05 06:01:00.000,NULL,NULL,2014-05-06 14:37:00.000,NULL,NULL,2014-05-05 06:01:00.000,2014-05-06 14:37:00.000,2014-05-05 17:25:00.000,2014-05-05 17:26:33.000,2014-05-06 08:17:18.000,2014-05-08 07:17:12.000,NULL,NULL,NULL,H110184,"RHODENIZER, JOSHUA",NULL


File 8: ./HFHS Data/Compressed/WSU_HASHED_BASE_CSN_SELECT_FirstNonEDDepartment/WSU_HASHED_BASE_CSN_SELECT_FirstNonEDDepartment.csv

	CSN_HASH,MRN_HASH,Payer,BenefitPlan,AcuityLevel,PrimaryChiefComplaint,yearsold,patientsex,ArrivalMethod,PrimaryCareArea,EdDepartment,EDLocation,AdmittingDepartment,Unit_Admitted_to,PrimaryDiagnosisName,EdDisposition,Hospital_Discharge_Disposition,TIME_IN,ED_ROOMED_TIME,BED_REQUEST_TIME,BED_ASSIGNED_TIME,ED_TIME_OUT,FIRST_PROVIDER_TIME,FIRST_ATTENDING_ASSIGNED,ROOM_ASSIGNED_TIME,HOSPITAL_DISCHARGE_TIME,Triage_Start_date_time,Triage_Complete_date_time,ED_DISPO_TIME_FIRST,ED_DISPO_TIME_LAST,Admission_decision_date_time,Inpatient_Admission_date_time,Hospital_discharge_date_time,first_provider_id,first_provider_name,HospitalDischargeDisposition,,,,,,,
	0x1C10CE5E08DA893C2506F950CE7CE9CE6673F49E6665F2574FFC197E36169281,0x3662AA3877C5A806C454A98216737FDCFFC58720BAF661EEF4A197B58969386A,BLUE CROSS BLUE SHIELD,BLUE CROSS-OUT OF STATE,3 - Urgent,HF AMB POST-OP,66,Female,*Unspecified,HF ED BRN MAIN,BROWNSTOWN EMERGENCY MED,HFWY BROWNSTOWN,*Unspecified,NULL,*Unspecified,Discharge,Home or Self Care,27:00.0,55:00.0,NULL,NULL,49:00.0,NULL,NULL,55:00.0,49:00.0,16:00.0,28:17.0,45:07.0,45:07.0,NULL,NULL,NULL,H8004,FINAZZO, SALVATORE J,NULL,,,,,,
	0x3A52E6871411F7C0A5B0B907AFEFBE9837CCA970B1B0854740BC3617E4517B7A,0x6BD9A5ECFB797A64A241FE9F16496653F5CC7AB794A74D1BCD239E3BFB4CA181,HAP,HAP HFMG ASSIGNED CAP,3 - Urgent,*Unspecified,62,Female,Car,HF ED FRL CDU,FAIRLANE EMERGENCY MED,HFHN FAIRLANE,*Unspecified,NULL,*Unspecified,Discharge,Home or Self Care,02:00.0,01:00.0,NULL,NULL,37:00.0,NULL,NULL,01:00.0,37:00.0,25:00.0,26:33.0,17:18.0,17:12.0,NULL,NULL,NULL,H110184,RHODENIZER, JOSHUA,NULL,,,,,,


File 9: ./HFHS Data/Compressed/WSU_HASHED_BASE_MRN_SELECT/WSU_HASHED_BASE_MRN_SELECT.csv

	﻿0x1165CE2760497C142D25FB81E567ABA39B1501996AE56D0B0D3F64FF1F45265A
	0x05E8B0C18415E2A8B093386A947972D04F9FA18ECDAE7F694C3D7864843452A7
	0x28FD3C098288C882276DF598102AF66D4646AC6D38830767EEADC998F1E64799


File 10: ./HFHS Data/Compressed/WSU_HASHED_BED_PATIENT_MOVEMENT/WSU_HASHED_BED_PATIENT_MOVEMENT.csv

	﻿0x4B02C254F3F557731623403550ECC55A426AAE989F5D1C90ED7CE750E80E63B3,0x378ADE5919DA98416EDCF9FC12FEA0F989A29E17EF3B96BD2590EACDED81E919,HFH EMERGENCY MED,NULL,2015-06-22 21:28:00.000,2015-06-23 01:20:00.000,POST-DISCHARGE,NULL,Transfer In,C4-400H,C4-400H,HFHN HENRY FORD HOSPITAL,4,Home or Self Care,Emergency,NULL,NULL
	0x4B02C254F3F557731623403550ECC55A426AAE989F5D1C90ED7CE750E80E63B3,0x378ADE5919DA98416EDCF9FC12FEA0F989A29E17EF3B96BD2590EACDED81E919,HFH EMERGENCY MED,NULL,2015-06-22 20:32:00.000,2015-06-22 21:28:00.000,HFH EMERGENCY MED,NULL,Admission,C4-402,C4-402,HFHN HENRY FORD HOSPITAL,3,Home or Self Care,Emergency,NULL,NULL
	0x5E6A12CC31CACA04CEF9033444991F4C7D1BDA13B6D28EF5659971047E3CE27C,0x3813B6A08022C18BDCB31AC73AEF92A40C6FB797673BCA92CCA9DE644D00069E,BROWNSTOWN EMERGENCY MED,NULL,2015-07-17 10:46:00.000,2015-07-17 13:35:00.000,POST-DISCHARGE,NULL,Transfer In,10-01,10,HFWY BROWNSTOWN,4,Another Health Care Facility,Emergency,NULL,NULL


File 11: ./HFHS Data/Compressed/WSU_HASHED_BED_REQUEST_INFO/WSU_HASHED_BED_REQUEST_INFO.csv

	﻿CSN_HASH,EVENT_TIME,EVENT_DISPLAY_NAME,EVENT_CMT
	0x6C98AFECF48519960F167D70FCE694F1ABE73677ED7C74407852B318C80A2387,2014-05-01 02:48:24.000,Bed Requested,Requested: Internal Medicine
	0xC7BD0ADFC9CA900303B5DD95518938D4388D3EC4661335F222985BC27C1D2031,2014-05-01 09:05:03.000,Bed Requested,Requested: Emergency Medicine


File 12: ./HFHS Data/Compressed/WSU_HASHED_CSN_MRN_PATIENT_MOVEMENT/WSU_HASHED_CSN_MRN_All_patient_movement_DATASET1.csv

	﻿CSN_HASH,MRN_HASH,Location,Department,Accommodation,bed_id,room_id,BED_LABEL,ROOM_NAME,IN_DTTM,OUT_DTTM,Next_Dept,Next_accommodation,Next_Bed,Next_Room,NAME,Bed_sort_order
	0x00000F5D77FB3D9F299A327BF784BE4878B53B45B2A4A3AAB20764E6F130B0EA,0x7CDBC19D84DE705B08B4E3BC3BF3DF061B15BFF31B4901100319FBE9CE22B292,PRE-ADMISSION,PRE-ADMISSION,NULL,101001004010701,1010010040107,NULL,NULL,2014-11-30 11:42:00.000,2014-11-30 12:02:00.000,HFH EMERGENCY MED,NULL,C4-403,C4-403,Admission,2
	0x00000F5D77FB3D9F299A327BF784BE4878B53B45B2A4A3AAB20764E6F130B0EA,0x7CDBC19D84DE705B08B4E3BC3BF3DF061B15BFF31B4901100319FBE9CE22B292,HFHN HENRY FORD HOSPITAL,HFH EMERGENCY MED,NULL,101001004010701,1010010040107,C4-403,C4-403,2014-11-30 12:02:00.000,2014-11-30 12:41:00.000,POST-DISCHARGE,NULL,NULL,NULL,Admission,3


File 13: ./HFHS Data/Compressed/WSU_HASHED_CSN_MRN_PATIENT_MOVEMENT/WSU_HASHED_CSN_MRN_All_patient_movement_DATASET2.csv

	﻿0x00009A9C0434C98E59C407A66CECFE85F2972237CEAEB36A4C9C60ED87D540DD,0xB7A66B25E56328F40322A0C3605C6216EC927A33757828BFAEC9480AC9DA213A,PRE-ADMISSION,PRE-ADMISSION,NULL,101001004004001,1010010040040,NULL,NULL,2017-05-21 17:20:00.000,2017-05-21 18:26:00.000,HFH EMERGENCY MED,NULL,C2-202A,C2-202,Admission,2
	0x00009A9C0434C98E59C407A66CECFE85F2972237CEAEB36A4C9C60ED87D540DD,0xB7A66B25E56328F40322A0C3605C6216EC927A33757828BFAEC9480AC9DA213A,HFHN HENRY FORD HOSPITAL,HFH EMERGENCY MED,NULL,101001004004001,1010010040040,C2-202A,C2-202,2017-05-21 18:26:00.000,2017-05-21 20:42:00.000,POST-DISCHARGE,NULL,NULL,NULL,Admission,3
	0x00009A9C0434C98E59C407A66CECFE85F2972237CEAEB36A4C9C60ED87D540DD,0xB7A66B25E56328F40322A0C3605C6216EC927A33757828BFAEC9480AC9DA213A,POST-DISCHARGE,POST-DISCHARGE,NULL,101001004004001,1010010040040,NULL,NULL,2017-05-21 20:42:00.000,2200-12-31 00:00:00.000,NULL,NULL,NULL,NULL,Discharge,4


File 14: ./HFHS Data/Compressed/WSU_HASHED_CSN_MRN_PATIENT_MOVEMENT/WSU_HASHED_CSN_MRN_FirstNonEDDepartment DATASET1.csv

	﻿CSN_HASH,MRN_HASH,FirstNonEdDepartment
	0xED8E5DFC96206200A6DA4CE9C9C14ED89779EC3EBD2B10E9D6EC2D5030710F24,0x9847EFD48D554AC0780F586650BCC5C85A817DE475D7BA7E7C69170E1A9C2A15,HFMH W43W ONCOLOGY
	0xED30D8B9BC6681F7513C38BF7717F0C89E282E32EEEC91571330571195DE8571,0x92D6FBBCB8080B725C445E0A47EE009B7BBCE9B8E35700E847065323AFC02FBE,*Unspecified


File 15: ./HFHS Data/Compressed/WSU_HASHED_CSN_MRN_PATIENT_MOVEMENT/WSU_HASHED_CSN_MRN_FirstNonEDDepartment_DATASET2.csv

	CSN_HASH,MRN_HASH,FirstNonEdDepartment
	0x598F732E8A36B5194E4844979A2CBAABA6FF5A980B94F5A0064C57C1E29083E4,0x6E734E94760EFB238CB831D66443CB814685F094D95DED1E4EBA3A774FBB7741,*Unspecified
	0xC5DC752BF865A3B0B0885F77E80694AB390E4E4703F2296C15EBD64B8DEEC481,0x63168CAFA4EA7961F0FBE167E435F5A5EF01D73A9BF53B4DB89FB7DA0AB9E3FE,*Unspecified


File 16: ./HFHS Data/Compressed/WSU_HASHED_CSN_MRN_PATIENT_MOVEMENT/WSU_HASHED_CSN_MRN_FirstNonEDDepartment_headers.csv

	CSN_HASH,MRN_HASH,FirstNonEdDepartment




File 17: ./HFHS Data/Compressed/WSU_HASHED_CSN_MRN_PATIENT_MOVEMENT/WSU_HASHED_CSN_MRN_PatientMovement_headers.csv

	CSN_HASH,MRN_HASH,Location,Department,Accommodation,bed_id,room_id,BED_LABEL,ROOM_NAME,IN_DTTM,OUT_DTTM,Next_Dept,Next_accommodation,Next_Bed,Next_Room,NAME,Bed_sort_order




File 18: ./HFHS Data/Compressed/WSU_HASHED_DX_LIST/WSU_HASHED_DX_LIST.csv

	﻿0x2BECA14F105C520DAD9CC626C84BD9E60807A9A5D0F2D8ADC828FE48B4F34FE5,ICD-10,Y93.67,NULL,3,Activity involving basketball
	0x374DB224FFE6172EC0FC8FB3EB88268B232B1883FB4F3AE3398AC6A8FDD17D13,ICD-10,R07.89,NULL,3,Other chest pain
	0x374DB224FFE6172EC0FC8FB3EB88268B232B1883FB4F3AE3398AC6A8FDD17D13,ICD-10,R22.0,NULL,2,Facial swelling


File 19: ./HFHS Data/Compressed/WSU_HASHED_EVENTS/WSU_HASHED_EVENTS.csv

	CSN_HASH,MRN_HASH,EVENT_ID,LINE,EVENT_TYPE,EVENT_DISPLAY_NAME,EVENT_TIME,EVENT_RECORD_TIME,EVENT_USER_ID,USER_NAME,EVENT_CMT
	9CE944F88A3C3F1AE4FF377A7631220E7CFDE30DD1DC9687E5D1AA0AD37DC4FA,6EBF2C5445785D7B0B96FCAA64EA1A2C4BA5E98207E60E65FFD9EE8FE9907307,11858804,18,106004,Imaging Exam Ordered,2014-08-23 06:40:16,2014-08-23 06:40:16,503210,COTARLA, MICHAEL,
	9CE944F88A3C3F1AE4FF377A7631220E7CFDE30DD1DC9687E5D1AA0AD37DC4FA,6EBF2C5445785D7B0B96FCAA64EA1A2C4BA5E98207E60E65FFD9EE8FE9907307,11858804,19,30025,Lab Resulted,2014-08-23 06:47:28,2014-08-23 06:47:28,EDILABIM,LABORATORY MEDICINE, PATHOLOGY AND,(Final result) PT/INR/PTT


File 20: ./HFHS Data/Compressed/WSU_HASHED_LAB_TEST_INFO/WSU_HASHED_LAB_TEST_INFO.csv

	﻿0x6866B1E321722786E0C3CFBAF02E276B733967073B9099CC5C0D81857D37694D,96885439,Troponin I now, then in 3 hours,64647,SUNQUEST,12,41,NULL,2014-08-15 18:49:00.000,Final result,High,0.11,NULL,NULL,ng/mL,NULL,2014-08-15 17:10:00.000,2014-08-15 17:09:00.000,2014-08-15 18:49:00.000,H123700,VOELTZ, MICHELE,LAB747
	0x6866B1E321722786E0C3CFBAF02E276B733967073B9099CC5C0D81857D37694D,96885440,Troponin I now, then in 3 hours,64647,SUNQUEST,12,41,NULL,2014-08-15 21:59:00.000,Final result,High Panic,7.73,NULL,NULL,ng/mL,NULL,2014-08-15 17:10:00.000,2014-08-15 20:09:00.000,2014-08-15 21:59:00.000,H123700,VOELTZ, MICHELE,LAB747
	0x6866B1E321722786E0C3CFBAF02E276B733967073B9099CC5C0D81857D37694D,96885441,Type and screen,1364,SUNQUEST,12,41,NULL,2014-08-15 18:11:00.000,Final result,NULL,AB POSITIVE,NULL,NULL,NULL,NULL,2014-08-15 17:10:00.000,2014-08-15 17:10:00.000,2014-08-15 18:11:00.000,H17974,BALIGA, SUDHIR,LAB276


File 21: ./HFHS Data/Compressed/WSU_HASHED_MEDICATION_HISTORY/WSU_HASHED_MEDICATION_HISTORY.csv

	﻿0xEC98B505C09004CC5FD0282A7965C6CE1859FD60ECD52346421E8EAD73B30E61,0x4D3C5EDBF94A6FF512A48E719C92638B54F88EBAF8644DAB19AFB16ED0981DC5,WOODHAVEN FAMILY MEDICINE,2014-06-09 00:00:00.000,Normal,26071,Walgreens Drug Store 07206,11365,SIMVASTATIN 20 MG TABLET,TAKE 1 TABLET BY MOUTH DAILY AS DIRECTED,90 tablet,0,2014-06-09 00:00:00.000,2014-09-01 00:00:00.000,N,Reorder,H2835,BAKSHI, DAKSHA,2015-08-11 11:15:00.000,2014-06-09 12:32:00.000,NULL,NULL
	0xE7A2B8B963E6A61915B073DDC007636D1144163004860EBCD9D98459A200DCF4,0x4D3C5EDBF94A6FF512A48E719C92638B54F88EBAF8644DAB19AFB16ED0981DC5,WOODHAVEN FAMILY MEDICINE,2014-08-05 00:00:00.000,Historical Med,NULL,NULL,110229,ERGOCALCIFEROL (VITAMIN D2) 400 UNIT TABLET,Take 2,000 Units by mouth.,NULL,NULL,2011-11-22 00:00:00.000,2016-09-09 00:00:00.000,NULL,Error,G77777,MIGRATED, SEE CPNG,2016-09-09 19:06:00.000,2014-08-05 13:53:00.000,NULL,NULL
	0xE7A2B8B963E6A61915B073DDC007636D1144163004860EBCD9D98459A200DCF4,0x4D3C5EDBF94A6FF512A48E719C92638B54F88EBAF8644DAB19AFB16ED0981DC5,WOODHAVEN FAMILY MEDICINE,2014-08-05 00:00:00.000,Historical Med,NULL,NULL,10855,PAROXETINE 20 MG TABLET,Take 10 mg by mouth every morning.,NULL,NULL,2014-03-25 00:00:00.000,2014-10-28 00:00:00.000,NULL,NULL,H2835,BAKSHI, DAKSHA,2015-08-11 11:15:00.000,2014-08-05 13:53:00.000,NULL,NULL


File 22: ./HFHS Data/Compressed/WSU_HASHED_MIN_VITALS_TRIAGE/WSU_HASHED_MIN_VITALS_TRIAGE.csv

	﻿0xEF9A7BB1D03EEFAF2315C3005D5A2FAE48EBE0A91C870F99C6CE6C0E9D88405F,2014-07-14 14:14:00.000,2014-07-14 14:14:29.000,2014-07-14 14:20:05.000
	0x9CC500EBA90148630CDE2B4FB62590CD42E7B45461DDFA81E14C6335063B0C5B,2014-08-17 14:14:00.000,2014-08-17 14:13:27.000,2014-08-17 14:20:15.000
	0xCF9D5AF442674DF191EEF67616F2946013A64CFABC383A7FA569A9461B329143,2015-08-24 18:04:00.000,2015-08-24 18:03:44.000,2015-08-24 18:05:30.000


File 23: ./HFHS Data/Compressed/WSU_HASHED_MRN_DX_HISTORY_Headers_and_CSV_and_Tab_delim/WSU_HASHED_MRN_DX_HISTORY.csv

	﻿CSN_HASH,MRN_HASH,ARRIVAL,DISCHARGE,DX_LINE,ICD_10,DX_NAME
	0xA058D70F1269E0E70815C1D45566DC7F4EEEE94FDE83C5F0A6510829EABC4F90,0xAEB7963EE49387DE108EE9EEE4074E31180EB5BA8030F53955049DA6B5A02ADA,2016-11-30 08:28:00.000,2016-12-01 18:00:00.000,5,F10.10,"Alcohol abuse, uncomplicated"
	0x1CFA2B860E2ED78246BA5C52615127C777EFAA108196C9C8714CE7F665C9218E,0xE060C94DDA1265DD5F0F96D4431A7B148AB018D1A3DCAE36E7664826F22F7654,2016-11-30 08:28:00.000,2016-11-30 16:52:00.000,3,Z87.19,Personal history of other diseases of the digestive system


File 24: ./HFHS Data/Compressed/WSU_HASHED_MRN_DX_HISTORY_Headers_and_CSV_and_Tab_delim/WSU_HASHED_MRN_DX_HISTORY_HEADERS.csv

	CSN_HASH,MRN_HASH,ARRIVAL,DISCHARGE,DX_LINE,ICD_10,DX_NAME




File 25: ./HFHS Data/Compressed/WSU_HASHED_MRN_DX_HISTORY_Headers_and_CSV_and_Tab_delim/WSU_HASHED_MRN_DX_HISTORY_tab_delimited.txt

	﻿CSN_HASH	MRN_HASH	ARRIVAL	DISCHARGE	DX_LINE	ICD_10	DX_NAME
	0xA058D70F1269E0E70815C1D45566DC7F4EEEE94FDE83C5F0A6510829EABC4F90	0xAEB7963EE49387DE108EE9EEE4074E31180EB5BA8030F53955049DA6B5A02ADA	2016-11-30 08:28:00.000	2016-12-01 18:00:00.000	5	F10.10	Alcohol abuse, uncomplicated
	0x1CFA2B860E2ED78246BA5C52615127C777EFAA108196C9C8714CE7F665C9218E	0xE060C94DDA1265DD5F0F96D4431A7B148AB018D1A3DCAE36E7664826F22F7654	2016-11-30 08:28:00.000	2016-11-30 16:52:00.000	3	Z87.19	Personal history of other diseases of the digestive system


File 26: ./HFHS Data/Compressed/WSU_HASHED_PROVIDER_IN_OUT/WSU_HASHED_PROVIDER_IN_OUT.csv

	﻿0xD7674D94562E99FBE7DDC038145C44A514F96EC84B09BAA7843FB23F832C2929,2015-08-14 04:48:49.000,2015-08-14 07:09:00.000,GUNAGA, SATHEESH,H10968,Physician
	0x6F0AA355B5F7D4C7BBB7823CD549686914CE15080AFCDE9F429D1975129E7923,2015-08-14 05:12:33.000,2015-08-14 07:47:11.000,SUSZANSKI, JULIAN,H108739,Physician
	0x6F0AA355B5F7D4C7BBB7823CD549686914CE15080AFCDE9F429D1975129E7923,2015-08-14 07:47:11.000,2015-08-14 10:43:00.000,DELEDDA, JOHN,H521441,Physician


File 27: ./HFHS Data/Compressed/WSU_HASHED_VITALS_GLUCOSE_ETC/WSU_HASHED_VITALS_GLUCOSE_ETC.csv

	CSN_HASH,Vitals_time,Vital_name,Vital_value,disp_name,units,Vital_unit
	1852660FE44755815C9221E3E3FB5F59D04609CE465638B53D01BA8614645291,2014-06-01 13:42:00,WEIGHT/SCALE,2719.98,Weight,,Weight
	1852660FE44755815C9221E3E3FB5F59D04609CE465638B53D01BA8614645291,2014-06-01 15:15:00,TEMPERATURE,,Temp,,Temp


File 28: ./HFHS Data/Compressed/WSU_HASHED_VITALS_GLUCOSE_ETC_PT1-PT6/WSU_HASHED_VITALS_GLUCOSE_ETC_PT1.csv

	﻿0x87019A1926A8B6E3166BA78036C6D2F313DFD4FD06732D9A67AD23784F910830,2014-07-07 07:59:00.000,R PAIN BODY LOCATION 1,Neck,Pain Location,NULL,Pain Location
	0xBBBF421B133676CCC738DCCB5A76117185FBFE59F7BAF6B53E6D57F49F0810F5,2014-07-07 08:02:00.000,TEMPERATURE,98.6,Temp,NULL,Temp
	0xBBBF421B133676CCC738DCCB5A76117185FBFE59F7BAF6B53E6D57F49F0810F5,2014-07-07 08:02:00.000,PULSE,64,Pulse,NULL,Pulse


File 29: ./HFHS Data/Compressed/WSU_HASHED_VITALS_GLUCOSE_ETC_PT1-PT6/WSU_HASHED_VITALS_GLUCOSE_ETC_PT2.csv

	﻿0x274F113E069175B2ED11557345A58A44CDB1B66D92EAEDCAD4274139C4351B1D,2015-04-04 08:00:00.000,PULSE OXIMETRY,100,SpO2,%,SpO2%

### II. `COMPLAINTS`
Data located in the following paths and has the same two-column structure: 
* ` ./HFHS Data/Compressed/WSU_HASHED_ALL_CHIEF_COMPLAINTS/WSU_HASHED_ALL_CHIEF_COMPLAINTS.csv`
* ` ./HFHS Data/Compressed/WSU_HASHED_ALL_CHIEF_COMPLAINTS_NEW/WSU_HASHED_ALL_CHIEF_COMPLAINTS_NEW.csv`
* `./HFHS Data/Compressed/WSU_HASHED_ALL_CHIEF_COMPLAINTS_inc_unspecified/WSU_HASHED_ALL_CHIEF_COMPLAINTS_inc_unspecified.csv`

In [17]:
files =[
    "./HFHS Data/Compressed/WSU_HASHED_ALL_CHIEF_COMPLAINTS/WSU_HASHED_ALL_CHIEF_COMPLAINTS.csv",
    "./HFHS Data/Compressed/WSU_HASHED_ALL_CHIEF_COMPLAINTS_NEW/WSU_HASHED_ALL_CHIEF_COMPLAINTS_NEW.csv",
    "./HFHS Data/Compressed/WSU_HASHED_ALL_CHIEF_COMPLAINTS_inc_unspecified/WSU_HASHED_ALL_CHIEF_COMPLAINTS_inc_unspecified.csv"
] 
linesall = []
for file in files: 
    with open(file, encoding="utf-8-sig", newline="") as f:
        lines = [line.rstrip("\r\n") for line in f]
        print(len(lines))
        linesall += lines

1304325
1196461
1304324

In [27]:
linesall[:20]

['CSN_HASH,ChiefComplaint',
 '0x00000F5D77FB3D9F299A327BF784BE4878B53B45B2A4A3AAB20764E6F130B0EA,RASH',
 '0x0000429B06ACE47BEAC568C8A6DD22F83037E7385DB9BBEFC998E6F9CBA79BFE,THREATENED MISCARRIAGE',
 '0x000047E1F2AFD80852473CAB9C497A04806DFD30E4811916589D09012F708BB4,ANKLE INJURY',
 '0x000071FF95F5359BD22F9FAFD5BFA6D9BABDEB41DA0AF44411A3D08FBFD04B3E,FALL',
 '0x00007EECC66EB142F83F629880EBCE10D8E44D93529F535BC12AB91D6714C7ED,CHEST PAIN',
 '0x00007EECC66EB142F83F629880EBCE10D8E44D93529F535BC12AB91D6714C7ED,MIGRAINE',
 '0x000085F2DA284E359DF0674F7927765352D996D89828EF6586E9E9E7CF3FCB12,HAND INJURY',
 '0x00009EA8CA6CF0DDE41C1299FDCAC6DED46CA1F03DEF6BE56987EC29E74B7581,EYE PAIN',
 '0x0000C7DF25322909660E6620B6BBAFDFFFBFE6DF7E4FCF2EE1A0D9F929CADB5F,FEVER',
 '0x0000D42CB54AE2FE77890CB269C06030763B07271340357F3C8E02384B684FC3,CHEST PAIN',
 '0x0000D473A2572D9B834C929DFF3423F23B7D2D04233E4396CD7957B513C2A47B,*Unspecified',
 '0x0000FEE380BC73FA21A2123366F9462AC1F33F7642002AF233FD2861162421E9,KNEE INJURY',
 '0x0001020762B708EAFB308FA7DB2213F6A30B137F949357B9D62CBCB42065E417,TESTICLE PAIN',
 '0x000103B7BA8257F9EF004FF0FACD09AAFF61E488D737D7897AADF8C8A08704FC,ABDOMINAL PAIN',
 '0x00011A14B3DD7D71317B88E1F2CEDA1A7A76F6366013F14661C47FEB87AA0B76,ABDOMINAL PAIN',
 '0x000120BC81D2690F8259A443B3C0AC6ABC8B2BD679F3966672DB217AF1A56005,FATIGUE',
 '0x00012DB059AECAA02CC75D77B1CC3D0EF8C2D5DA6A13822A7846C1FBEFE38D7F,FAILURE TO THRIVE',
 '0x00012DB059AECAA02CC75D77B1CC3D0EF8C2D5DA6A13822A7846C1FBEFE38D7F,ALTERED MENTAL STATUS',
 '0x00013DBBDBAA0451FC2858800837B70BBD1618A64524D97874ACED076A0D1C68,*Unspecified']

In [28]:
'0x00013DBBDBAA0451FC2858800837B70BBD1618A64524D97874ACED076A0D1C68,*Unspecified'.endswith('*Unspecified')

True

In [31]:
'abc,d,f,'.find(',')

3

In [32]:
linesall[0].split(',')

['CSN_HASH', 'ChiefComplaint']

In [60]:
df = pl.DataFrame(
    {
        linesall[0].split(',')[0]: [i[:i.find(',')] for i in linesall[1:] if not i.endswith('*Unspecified')],
        linesall[0].split(',')[1]: [i[i.find(',')+1:] for i in linesall[1:] if not i.endswith('*Unspecified')]                         
    }
).unique()

df.head()

shape: (5, 2)
┌─────────────────────────────────┬────────────────┐
│ CSN_HASH                        ┆ ChiefComplaint │
│ ---                             ┆ ---            │
│ str                             ┆ str            │
╞═════════════════════════════════╪════════════════╡
│ 0x356B1E8928D45962EBF18123CA5C… ┆ ABDOMINAL PAIN │
│ 0x38D383B01156CC386671F408063E… ┆ DRUG OVERDOSE  │
│ 0xC7C223A1BC18453D3E9BD6D3E124… ┆ JOINT SWELLING │
│ 0xF959304387C776261D9CFEF0A2DB… ┆ COUGH          │
│ 0x8E491AEA88DFD30F7CD2A3352477… ┆ EYE PROBLEM    │
└─────────────────────────────────┴────────────────┘

In [67]:
df["CSN_HASH"].n_unique()

912385

In [66]:
df["CSN_HASH"].value_counts().sort("count", descending=True).head()

shape: (5, 2)
┌─────────────────────────────────┬───────┐
│ CSN_HASH                        ┆ count │
│ ---                             ┆ ---   │
│ str                             ┆ u32   │
╞═════════════════════════════════╪═══════╡
│ 0x6B2DC2E2ED33CB43016638D004EF… ┆ 9     │
│ 0xF88C5780D001524D2A68DDA8EB9E… ┆ 9     │
│ 0x4B593433664A23A5EC256FCB7CE0… ┆ 9     │
│ 0x1E4D1DB30D6465717A1F448FED2D… ┆ 9     │
│ 0x4434D886950528C3EBABEC7CAEDA… ┆ 8     │
└─────────────────────────────────┴───────┘

##### 1. Extract `CSN_HASH` and `CPT_CODE`

In [10]:
df = df.with_columns(
    pl.col("row")
    .str.split_exact(",", 1)
    .struct.rename_fields(["CSN_HASH", "other"])
    .alias("fields")
).unnest("fields").drop("other")

df = df.with_columns(
    pl.col("row")
    .str.reverse()
    .str.split_exact(",", 1)
    .struct.rename_fields(["CPT_CODE", "other"])
    .alias("fields")
).unnest("fields").drop("other")

df = df.with_columns(
    pl.col("CPT_CODE")
    .str.reverse()
)

assert df["CSN_HASH"].str.len_chars().mean() == 66
assert df["CSN_HASH"].null_count() == 0
assert df.filter(pl.col("CPT_CODE") == "NULL").shape[0] == 0
assert df["CPT_CODE"].null_count() == 0

df.head()

shape: (5, 3)
┌─────────────────────────────────┬─────────────────────────────────┬──────────┐
│ row                             ┆ CSN_HASH                        ┆ CPT_CODE │
│ ---                             ┆ ---                             ┆ ---      │
│ str                             ┆ str                             ┆ str      │
╞═════════════════════════════════╪═════════════════════════════════╪══════════╡
│ 0x6866B1E321722786E0C3CFBAF02E… ┆ 0x6866B1E321722786E0C3CFBAF02E… ┆ LAB747   │
│ 0x6866B1E321722786E0C3CFBAF02E… ┆ 0x6866B1E321722786E0C3CFBAF02E… ┆ LAB747   │
│ 0x6866B1E321722786E0C3CFBAF02E… ┆ 0x6866B1E321722786E0C3CFBAF02E… ┆ LAB276   │
│ 0x6866B1E321722786E0C3CFBAF02E… ┆ 0x6866B1E321722786E0C3CFBAF02E… ┆ LAB462   │
│ 0x6866B1E321722786E0C3CFBAF02E… ┆ 0x6866B1E321722786E0C3CFBAF02E… ┆ LAB462   │
└─────────────────────────────────┴─────────────────────────────────┴──────────┘

##### 2. Count `datetime` in each row
Then subset the results.

In [ ]:
#datetime_regex = r"^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}$"
datetime_regex = r"\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}"

df = df.with_columns(
    pl.col("row").str.count_matches(datetime_regex).alias("dt_count")
)

df['dt_count'].value_counts().sort("count", descending=True)

In [12]:
df['dt_count'].value_counts().sort("count", descending=True)

shape: (4, 2)
┌──────────┬─────────┐
│ dt_count ┆ count   │
│ ---      ┆ ---     │
│ u32      ┆ u32     │
╞══════════╪═════════╡
│ 4        ┆ 8988198 │
│ 2        ┆ 5098101 │
│ 3        ┆ 589766  │
│ 1        ┆ 3734    │
└──────────┴─────────┘

In [118]:
#group_4 = df.filter(pl.col("dt_count") == 4).drop("dt_count")
#group_2 = df.filter(pl.col("dt_count") == 2).drop("dt_count")
#group_3 = df.filter(pl.col("dt_count") == 3).drop("dt_count")
group_1 = df.filter(pl.col("dt_count") == 1).drop("dt_count")
#assert group_4.shape[0] + group_2.shape[0] + group_3.shape[0] + group_1.shape[0] == df.shape[0]

##### 3. Work date cols on `group_4`
All records have four `datetime` substrings which is the maximum number expected.
```    
RESULT_TIME
TEST_REQUEST_TIME
TEST_START_TIME
TEST_COMPLETE_TIME
```

In [14]:
group_4 = group_4.with_columns(
    pl.col("row")
    .str.slice(
        pl.col("row")
        .str.find(datetime_regex)
    )
    .str.splitn(",", 5)
    .struct.rename_fields(["RESULT_TIME", "RESULT_TYPE", "RESULT_FLAG", "ORD_VALUE", "OTHER"])
    .alias("t_break")
).unnest("t_break").drop(["RESULT_TIME", "RESULT_TYPE", "RESULT_FLAG", "OTHER"])

group_4.head()

shape: (5, 4)
┌─────────────────────────────────┬─────────────────────────────────┬──────────┬─────────────┐
│ row                             ┆ CSN_HASH                        ┆ CPT_CODE ┆ ORD_VALUE   │
│ ---                             ┆ ---                             ┆ ---      ┆ ---         │
│ str                             ┆ str                             ┆ str      ┆ str         │
╞═════════════════════════════════╪═════════════════════════════════╪══════════╪═════════════╡
│ 0x6866B1E321722786E0C3CFBAF02E… ┆ 0x6866B1E321722786E0C3CFBAF02E… ┆ LAB747   ┆ 0.11        │
│ 0x6866B1E321722786E0C3CFBAF02E… ┆ 0x6866B1E321722786E0C3CFBAF02E… ┆ LAB747   ┆ 7.73        │
│ 0x6866B1E321722786E0C3CFBAF02E… ┆ 0x6866B1E321722786E0C3CFBAF02E… ┆ LAB276   ┆ AB POSITIVE │
│ 0x6866B1E321722786E0C3CFBAF02E… ┆ 0x6866B1E321722786E0C3CFBAF02E… ┆ LAB462   ┆ Blood       │
│ 0x6866B1E321722786E0C3CFBAF02E… ┆ 0x6866B1E321722786E0C3CFBAF02E… ┆ LAB462   ┆ Blood       │
└─────────────────────────────────┴─────────────────────────────────┴──────────┴─────────────┘

**Note**: We should consider returning statistics on the position of the first datetime in order to estimate whether or not a `RESULT_TIME` is present. 

Assumption: Just because there are three other times, doesn't mean that the test yielded a valid result; this can be evaluated by attempting to extract values at the `ORD_VALUE` and testing for nulls.

In [15]:
group_4.with_columns(
    pl.col("row")
    .str.find(datetime_regex)
    .alias("first_dt_pos")
)["first_dt_pos"].describe()

shape: (9, 2)
┌────────────┬────────────┐
│ statistic  ┆ value      │
│ ---        ┆ ---        │
│ str        ┆ f64        │
╞════════════╪════════════╡
│ count      ┆ 8.988198e6 │
│ null_count ┆ 0.0        │
│ mean       ┆ 127.70241  │
│ std        ┆ 28.825124  │
│ min        ┆ 103.0      │
│ 25%        ┆ 114.0      │
│ 50%        ┆ 123.0      │
│ 75%        ┆ 129.0      │
│ max        ┆ 385.0      │
└────────────┴────────────┘

In [16]:
group_4.shape[0] / df.shape[0]

0.6122834515649703

In [17]:
fields = ["RESULT_TIME", "TEST_REQUEST_TIME", "TEST_START_TIME", "TEST_COMPLETE_TIME"]

group_4 = group_4.with_columns(
    pl.col("row")
    .str.extract_all(datetime_regex)
    .list.to_struct(fields=fields)
    .alias("dts")
).unnest("dts")

group_4 = group_4.with_columns(
    pl.col("^.*_TIME$")
    .str.to_datetime()
)

group_4.head()

shape: (5, 8)
┌────────────┬────────────┬──────────┬────────────┬────────────┬───────────┬───────────┬───────────┐
│ row        ┆ CSN_HASH   ┆ CPT_CODE ┆ ORD_VALUE  ┆ RESULT_TIM ┆ TEST_REQU ┆ TEST_STAR ┆ TEST_COMP │
│ ---        ┆ ---        ┆ ---      ┆ ---        ┆ E          ┆ EST_TIME  ┆ T_TIME    ┆ LETE_TIME │
│ str        ┆ str        ┆ str      ┆ str        ┆ ---        ┆ ---       ┆ ---       ┆ ---       │
│            ┆            ┆          ┆            ┆ datetime[μ ┆ datetime[ ┆ datetime[ ┆ datetime[ │
│            ┆            ┆          ┆            ┆ s]         ┆ μs]       ┆ μs]       ┆ μs]       │
╞════════════╪════════════╪══════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╡
│ 0x6866B1E3 ┆ 0x6866B1E3 ┆ LAB747   ┆ 0.11       ┆ 2014-08-15 ┆ 2014-08-1 ┆ 2014-08-1 ┆ 2014-08-1 │
│ 21722786E0 ┆ 21722786E0 ┆          ┆            ┆ 18:49:00   ┆ 5         ┆ 5         ┆ 5         │
│ C3CFBAF02E ┆ C3CFBAF02E ┆          ┆            ┆            ┆ 17:10:00  ┆ 17:09:00  ┆ 18:49:00  │
│ …          ┆ …          ┆          ┆            ┆            ┆           ┆           ┆           │
│ 0x6866B1E3 ┆ 0x6866B1E3 ┆ LAB747   ┆ 7.73       ┆ 2014-08-15 ┆ 2014-08-1 ┆ 2014-08-1 ┆ 2014-08-1 │
│ 21722786E0 ┆ 21722786E0 ┆          ┆            ┆ 21:59:00   ┆ 5         ┆ 5         ┆ 5         │
│ C3CFBAF02E ┆ C3CFBAF02E ┆          ┆            ┆            ┆ 17:10:00  ┆ 20:09:00  ┆ 21:59:00  │
│ …          ┆ …          ┆          ┆            ┆            ┆           ┆           ┆           │
│ 0x6866B1E3 ┆ 0x6866B1E3 ┆ LAB276   ┆ AB         ┆ 2014-08-15 ┆ 2014-08-1 ┆ 2014-08-1 ┆ 2014-08-1 │
│ 21722786E0 ┆ 21722786E0 ┆          ┆ POSITIVE   ┆ 18:11:00   ┆ 5         ┆ 5         ┆ 5         │
│ C3CFBAF02E ┆ C3CFBAF02E ┆          ┆            ┆            ┆ 17:10:00  ┆ 17:10:00  ┆ 18:11:00  │
│ …          ┆ …          ┆          ┆            ┆            ┆           ┆           ┆           │
│ 0x6866B1E3 ┆ 0x6866B1E3 ┆ LAB462   ┆ Blood      ┆ 2014-08-20 ┆ 2014-08-1 ┆ 2014-08-1 ┆ 2014-08-2 │
│ 21722786E0 ┆ 21722786E0 ┆          ┆            ┆ 15:53:00   ┆ 5         ┆ 5         ┆ 0         │
│ C3CFBAF02E ┆ C3CFBAF02E ┆          ┆            ┆            ┆ 17:12:00  ┆ 17:12:00  ┆ 15:53:00  │
│ …          ┆ …          ┆          ┆            ┆            ┆           ┆           ┆           │
│ 0x6866B1E3 ┆ 0x6866B1E3 ┆ LAB462   ┆ Blood      ┆ 2014-08-20 ┆ 2014-08-1 ┆ 2014-08-1 ┆ 2014-08-2 │
│ 21722786E0 ┆ 21722786E0 ┆          ┆            ┆ 10:36:00   ┆ 5         ┆ 5         ┆ 0         │
│ C3CFBAF02E ┆ C3CFBAF02E ┆          ┆            ┆            ┆ 17:12:00  ┆ 17:27:00  ┆ 10:36:00  │
│ …          ┆ …          ┆          ┆            ┆            ┆           ┆           ┆           │
└────────────┴────────────┴──────────┴────────────┴────────────┴───────────┴───────────┴───────────┘

In [18]:
group_4[fields].describe()

shape: (9, 5)
┌────────────┬─────────────────┬──────────────────────┬──────────────────────┬─────────────────────┐
│ statistic  ┆ RESULT_TIME     ┆ TEST_REQUEST_TIME    ┆ TEST_START_TIME      ┆ TEST_COMPLETE_TIME  │
│ ---        ┆ ---             ┆ ---                  ┆ ---                  ┆ ---                 │
│ str        ┆ str             ┆ str                  ┆ str                  ┆ str                 │
╞════════════╪═════════════════╪══════════════════════╪══════════════════════╪═════════════════════╡
│ count      ┆ 8988198         ┆ 8988198              ┆ 8988198              ┆ 8988198             │
│ null_count ┆ 0               ┆ 0                    ┆ 0                    ┆ 0                   │
│ mean       ┆ 2015-08-29      ┆ 2015-08-28           ┆ 2015-08-28           ┆ 2015-08-29          │
│            ┆ 00:26:49.559569 ┆ 16:22:33.906623      ┆ 17:16:22.341771      ┆ 00:26:49.559569     │
│ std        ┆ null            ┆ null                 ┆ null                 ┆ null                │
│ min        ┆ 2013-12-03      ┆ 2012-05-04 17:45:00  ┆ 2012-05-04 17:45:00  ┆ 2013-12-03 00:00:00 │
│            ┆ 00:00:00        ┆                      ┆                      ┆                     │
│ 25%        ┆ 2015-01-05      ┆ 2015-01-05 12:08:00  ┆ 2015-01-05 12:17:00  ┆ 2015-01-05 13:28:00 │
│            ┆ 13:28:00        ┆                      ┆                      ┆                     │
│ 50%        ┆ 2015-08-28      ┆ 2015-08-28 13:51:00  ┆ 2015-08-28 13:59:00  ┆ 2015-08-28 21:15:00 │
│            ┆ 21:15:00        ┆                      ┆                      ┆                     │
│ 75%        ┆ 2016-04-19      ┆ 2016-04-19 06:48:00  ┆ 2016-04-19 07:03:00  ┆ 2016-04-19 14:47:00 │
│            ┆ 14:47:00        ┆                      ┆                      ┆                     │
│ max        ┆ 2016-12-21      ┆ 2016-12-20 23:57:00  ┆ 2016-12-21 00:01:00  ┆ 2016-12-21 00:03:00 │
│            ┆ 00:03:00        ┆                      ┆                      ┆                     │
└────────────┴─────────────────┴──────────────────────┴──────────────────────┴─────────────────────┘

In [19]:
group_4.with_columns(
    pl.when(
        pl.col.TEST_REQUEST_TIME <= pl.col.TEST_START_TIME, 
        pl.col.TEST_START_TIME <= pl.col.TEST_COMPLETE_TIME, 
        pl.col.TEST_COMPLETE_TIME <= pl.col.RESULT_TIME, 
    )
    .then(1)
    .otherwise(0)
    .alias("t_val_test")
)["t_val_test"].mean()

0.861753601778688

86% of records abide by this logic; therefore, we shall assign the min value (in this case, typically `TEST_REQUEST_TIME`) to the "test ordered" event and the max value (in this case, typically the `RESULT_TIME`) to the `ORD_VALUE` event.

In [ ]:
group_4 = group_4.select(
    pl.col("CSN_HASH"), 
    pl.min_horizontal(fields).alias("datetime_val"),
    pl.col("CPT_CODE").alias("cat"),
    pl.lit("test ordered").alias("val")
).vstack(
    group_4.select(
        pl.col("CSN_HASH"), 
        pl.max_horizontal(fields).alias("datetime_val"),
        pl.col("CPT_CODE").alias("cat"),
        pl.col("ORD_VALUE").alias("val")
    )
).unique()

In [133]:
group_4.head()

shape: (5, 4)
┌─────────────────────────────────┬─────────────────────┬────────┬──────────────┐
│ CSN_HASH                        ┆ datetime_val        ┆ cat    ┆ val          │
│ ---                             ┆ ---                 ┆ ---    ┆ ---          │
│ str                             ┆ datetime[μs]        ┆ str    ┆ str          │
╞═════════════════════════════════╪═════════════════════╪════════╪══════════════╡
│ 0x3502D3DDCFED393A57065B5DB87B… ┆ 2014-07-05 21:09:00 ┆ LAB293 ┆ test ordered │
│ 0xCA6333496B2A04C3958BBDA1C663… ┆ 2014-06-29 10:11:00 ┆ LAB15  ┆ test ordered │
│ 0xFC9BEED592C923C32ED7308CE278… ┆ 2015-05-21 18:37:00 ┆ LAB747 ┆ test ordered │
│ 0x9AC236D9873985DA48BD173BAA1F… ┆ 2015-11-25 00:00:00 ┆ LAB15  ┆ test ordered │
│ 0xFC209EF7EC8D39623CB879BB616F… ┆ 2016-09-10 01:09:00 ┆ LAB15  ┆ test ordered │
└─────────────────────────────────┴─────────────────────┴────────┴──────────────┘

In [134]:
group_4.tail()

shape: (5, 4)
┌─────────────────────────────────┬─────────────────────┬────────┬──────────────┐
│ CSN_HASH                        ┆ datetime_val        ┆ cat    ┆ val          │
│ ---                             ┆ ---                 ┆ ---    ┆ ---          │
│ str                             ┆ datetime[μs]        ┆ str    ┆ str          │
╞═════════════════════════════════╪═════════════════════╪════════╪══════════════╡
│ 0x5A8276FB63D77813AE4FB025C547… ┆ 2014-07-06 14:44:00 ┆ LAB144 ┆ test ordered │
│ 0x2C3E077F355F3A99F58BD94A3D3D… ┆ 2015-04-10 16:00:00 ┆ LAB15  ┆ test ordered │
│ 0x2C3CA8E8E3CA151990B3CD43BD99… ┆ 2016-04-23 15:12:00 ┆ LAB56  ┆ test ordered │
│ 0x1242DDF9A9DC1C1978B6E99F7EF8… ┆ 2016-09-20 16:28:00 ┆ LAB347 ┆ test ordered │
│ 0x4CF38D8B907C96C44AFB3234483F… ┆ 2015-06-04 07:30:00 ┆ LAB47  ┆ 61           │
└─────────────────────────────────┴─────────────────────┴────────┴──────────────┘

##### 4. Work date cols on `group_2`
Are the date columns next to each other? This implies the pattern `r"\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}\,\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}"`
* If columns are next to each other then `RESULT_TIME` is **not** one of the columns. 
* But does this imply that there is null/missing value in `ORD_VALUE`? Assumption is "yes"...

In [33]:
datetime_regex = r"\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}\,\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}"

group_2 = group_2.with_columns(
    pl.col("row").str.count_matches(datetime_regex).alias("dt_count")
)

group_2['dt_count'].value_counts().sort("count", descending=True)

shape: (1, 2)
┌──────────┬─────────┐
│ dt_count ┆ count   │
│ ---      ┆ ---     │
│ u32      ┆ u32     │
╞══════════╪═════════╡
│ 1        ┆ 5098101 │
└──────────┴─────────┘

This result implies that there is null-missing value in `ORD_VALUE` position. There should be some verification that this assumption is true.

In [ ]:
group_2["row"].slice(0, 1).to_numpy()

array(['0x51037B01B901FAF48B5A11D751286588069F239006576FE6763069FE1BD08C81,161179022,Check Blood Pressure,41461,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,2015-08-20 02:25:00.000,2015-08-20 02:26:00.000,NULL,H18067,NEHER, GARY,NUR432'],
      dtype=object)

In [44]:
group_2["row"].slice(-1, 1).to_numpy()

array(['0xD94CA78574F49681C751D4C2A3043EA3DAF1AC4C2C798CEACEB90D1B10E3EF45,160023404,Insert saline lock,103471,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,2016-03-25 19:21:00.000,2016-03-25 19:21:00.000,NULL,H16158,AL-SAADI, HAIDAR,NUR872'],
      dtype=object)

We could consider counting number of `NULL` in each string in `group_2` before making a final decision that *all `group_2` consist only of 'test ordered' events and no 'test result' events*

Subsequent steps would then include extracting the datetime values, finding their minimum, and thenn formatting the results as was done for `group_4` subset.

In [46]:
group_2 = group_2.with_columns(
    pl.col("row").str.count_matches("NULL", literal=True).alias("NULL_count")
)

group_2['NULL_count'].value_counts().sort("count", descending=True)

shape: (3, 2)
┌────────────┬─────────┐
│ NULL_count ┆ count   │
│ ---        ┆ ---     │
│ u32        ┆ u32     │
╞════════════╪═════════╡
│ 13         ┆ 3915946 │
│ 11         ┆ 1170663 │
│ 14         ┆ 11492   │
└────────────┴─────────┘

In [52]:
group_2.filter(pl.col("NULL_count") == 14)["row"].slice(0, 1).to_numpy()

array(['0xEF8DD3DDF35699C4EC3E2A6788C10CF79CE98A5A5D9380F4E3588460298561D8,121558609,NULL,885,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,2015-01-06 00:03:00.000,2015-01-06 00:04:00.000,NULL,H89165,CLUFF, STEPHEN,NUR185'],
      dtype=object)

In [53]:
group_2.filter(pl.col("NULL_count") == 11)["row"].slice(0, 1).to_numpy()

array(['0x4570DC4CA5E77C170A0726FFBB9BFB4E57AF5646C968B7609B87CF932B3FA0B1,198752036,ECG 12 Lead now and in 3 hours,509,MUSE,14,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,2016-06-09 16:56:00.000,2016-06-09 18:00:00.000,NULL,H7781,DRAKE, CASSIUS M,ECG1'],
      dtype=object)

In [54]:
group_2.filter(pl.col("NULL_count") == 13)["row"].slice(0, 1).to_numpy()

array(['0x51037B01B901FAF48B5A11D751286588069F239006576FE6763069FE1BD08C81,161179022,Check Blood Pressure,41461,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,2015-08-20 02:25:00.000,2015-08-20 02:26:00.000,NULL,H18067,NEHER, GARY,NUR432'],
      dtype=object)

Let's verify that a series of ten consecutive `NULL` exist in each string:

In [63]:
group_2 = group_2.with_columns(
    pl.col("row").str.count_matches(10 * ',NULL' + ',', literal=True).alias("10_NULL_count")
)

group_2['10_NULL_count'].value_counts().sort("count", descending=True)

shape: (1, 2)
┌───────────────┬─────────┐
│ 10_NULL_count ┆ count   │
│ ---           ┆ ---     │
│ u32           ┆ u32     │
╞═══════════════╪═════════╡
│ 1             ┆ 5098101 │
└───────────────┴─────────┘

Since there are a series of ten consecutive `NULL` values we consider there to be no results in subset `group_2` and therefore process it *only* as "test requested" events.

In [84]:
fields = ["TEST_REQUEST_TIME", "TEST_START_TIME"]

group_2 = group_2.with_columns(
    pl.col("row")
    .str.extract_all(datetime_regex)
    .list.get(0)
    .str.split(by=",")
    .alias("dts")        
    .list.to_struct(fields=fields)
).unnest("dts")

group_2 = group_2.with_columns(
    pl.col("^.*_TIME$")
    .str.to_datetime()
)

group_2 = group_2.select(
    pl.col("CSN_HASH"), 
    pl.min_horizontal(fields).alias("datetime_val"),
    pl.col("CPT_CODE").alias("cat"),
    pl.lit("test ordered").alias("val")
).unique()

group_2.head()

shape: (5, 4)
┌─────────────────────────────────┬─────────────────────┬──────────┬──────────────┐
│ CSN_HASH                        ┆ datetime_val        ┆ cat      ┆ val          │
│ ---                             ┆ ---                 ┆ ---      ┆ ---          │
│ str                             ┆ datetime[μs]        ┆ str      ┆ str          │
╞═════════════════════════════════╪═════════════════════╪══════════╪══════════════╡
│ 0x86DA87B0958100F93A3006F37FBD… ┆ 2016-04-18 17:26:00 ┆ NUR478   ┆ test ordered │
│ 0xF170C1EB0DADE73ADFA3EC8BFA9F… ┆ 2016-10-31 11:17:00 ┆ VAS30414 ┆ test ordered │
│ 0xDE49729D1F01DCC9532F87B14301… ┆ 2015-06-07 20:54:00 ┆ PRO179B  ┆ test ordered │
│ 0x69BF04A04D5C1A0C3FA581475C0A… ┆ 2016-02-01 02:43:00 ┆ COR25    ┆ test ordered │
│ 0x79564F04EE725A209C4FC16C2367… ┆ 2014-07-18 00:20:00 ┆ EQ97     ┆ test ordered │
└─────────────────────────────────┴─────────────────────┴──────────┴──────────────┘

##### 5. Work date cols on `group_3`
Are the date columns next to each other? This implies the pattern `r"\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}\,\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}\,\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}"`
* If columns are next to each other then `RESULT_TIME` is **not** one of the columns. 
* But does this imply that there is null/missing value in `ORD_VALUE`? Assumption is "yes"...

In [85]:
datetime_regex = r"\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}\,\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}\,\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}"

group_3 = group_3.with_columns(
    pl.col("row").str.count_matches(datetime_regex).alias("dt_count")
)

group_3['dt_count'].value_counts().sort("count", descending=True)

shape: (2, 2)
┌──────────┬────────┐
│ dt_count ┆ count  │
│ ---      ┆ ---    │
│ u32      ┆ u32    │
╞══════════╪════════╡
│ 1        ┆ 589729 │
│ 0        ┆ 37     │
└──────────┴────────┘

For results where `dt_count == 1` we can assume all of these records should be "test ordered" or verify using series of 10 NULL method. 

For results where `dt_count == 0` this implies that since there are only three total datetimes in the record and they are not one after another, this means that one of the datetimes is in the `RESULT_TIME` position. We should assume that these records have valid `ORD_VALUE` which needs to be extracted.

In [ ]:
group_3_1 = group_3.filter(pl.col("dt_count") == 1)

group_3_1 = group_3_1.with_columns(
    pl.col("row").str.count_matches(10 * ',NULL' + ',', literal=True).alias("10_NULL_count")
)

group_3_1['10_NULL_count'].value_counts().sort("count", descending=True)

shape: (1, 2)
┌───────────────┬────────┐
│ 10_NULL_count ┆ count  │
│ ---           ┆ ---    │
│ u32           ┆ u32    │
╞═══════════════╪════════╡
│ 1             ┆ 589729 │
└───────────────┴────────┘

Since there are a series of ten consecutive `NULL` values we consider there to be no results in subset `group_3_1` and therefore process it *only* as "test requested" events.

In [108]:
datetime_regex = r"\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}"

fields = ["TEST_REQUEST_TIME", "TEST_START_TIME", "TEST_COMPLETE_TIME"]

group_3_1 = group_3_1.with_columns(
    pl.col("row")
    .str.extract_all(datetime_regex)
    .list.to_struct(fields=fields)
    .alias("dts")            
).unnest("dts")

group_3_1 = group_3_1.with_columns(
    pl.col("^.*_TIME$")
    .str.to_datetime()
)

group_3_1 = group_3_1.select(
    pl.col("CSN_HASH"), 
    pl.min_horizontal(fields).alias("datetime_val"),
    pl.col("CPT_CODE").alias("cat"),
    pl.lit("test ordered").alias("val")
).unique()

group_3_1.head()

shape: (5, 4)
┌─────────────────────────────────┬─────────────────────┬──────────┬──────────────┐
│ CSN_HASH                        ┆ datetime_val        ┆ cat      ┆ val          │
│ ---                             ┆ ---                 ┆ ---      ┆ ---          │
│ str                             ┆ datetime[μs]        ┆ str      ┆ str          │
╞═════════════════════════════════╪═════════════════════╪══════════╪══════════════╡
│ 0xB632D4A2599EAC631263CCEA0E6F… ┆ 2016-10-04 07:29:00 ┆ IMG2669  ┆ test ordered │
│ 0x7194DEA59D312A1CC699E1195983… ┆ 2015-12-12 07:44:00 ┆ CH 1V    ┆ test ordered │
│ 0xC1D878516F4EA5823A35900A12F9… ┆ 2016-12-01 17:41:00 ┆ CTHDWO   ┆ test ordered │
│ 0x74C565DD97AF8C76F890A19184DE… ┆ 2016-02-21 06:09:00 ┆ CTHDWO   ┆ test ordered │
│ 0x3FAD13B090A102284142436E682A… ┆ 2016-03-09 09:21:00 ┆ MRCPBPWO ┆ test ordered │
└─────────────────────────────────┴─────────────────────┴──────────┴──────────────┘

In [ ]:
group_3_0 = group_3.filter(pl.col("dt_count") == 0)

group_3_0 = group_3_0.with_columns(
    pl.col("row")
    .str.slice(
        pl.col("row")
        .str.find(datetime_regex)
    )
    .str.splitn(",", 5)
    .struct.rename_fields(["RESULT_TIME", "RESULT_TYPE", "RESULT_FLAG", "ORD_VALUE", "OTHER"])
    .alias("t_break")
).unnest("t_break").drop(["RESULT_TIME", "RESULT_TYPE", "RESULT_FLAG", "OTHER"])

group_3_0.head()

shape: (5, 5)
┌────────────────────────────────┬───────────────────────────────┬──────────┬──────────┬───────────┐
│ row                            ┆ CSN_HASH                      ┆ CPT_CODE ┆ dt_count ┆ ORD_VALUE │
│ ---                            ┆ ---                           ┆ ---      ┆ ---      ┆ ---       │
│ str                            ┆ str                           ┆ str      ┆ u32      ┆ str       │
╞════════════════════════════════╪═══════════════════════════════╪══════════╪══════════╪═══════════╡
│ 0x338B093CC4FD95901B062BB9B11F ┆ 0x338B093CC4FD95901B062BB9B11 ┆ LAB53611 ┆ 0        ┆ 14        │
│ …                              ┆ F…                            ┆          ┆          ┆           │
│ 0x4838EC67B2935BA9E0B63D21F05C ┆ 0x4838EC67B2935BA9E0B63D21F05 ┆ LAB13446 ┆ 0        ┆ 48        │
│ …                              ┆ C…                            ┆          ┆          ┆           │
│ 0xD09279E24C00459C7A5F8B970814 ┆ 0xD09279E24C00459C7A5F8B97081 ┆ LAB13446 ┆ 0        ┆ 44        │
│ …                              ┆ 4…                            ┆          ┆          ┆           │
│ 0x49D78EA9C975AA47DEAC8ACC0A2C ┆ 0x49D78EA9C975AA47DEAC8ACC0A2 ┆ LAB13446 ┆ 0        ┆ 22        │
│ …                              ┆ C…                            ┆          ┆          ┆           │
│ 0x0AD9FC9D41B7AB631C37A1336520 ┆ 0x0AD9FC9D41B7AB631C37A133652 ┆ LAB2100  ┆ 0        ┆ 0.29      │
│ …                              ┆ 0…                            ┆          ┆          ┆           │
└────────────────────────────────┴───────────────────────────────┴──────────┴──────────┴───────────┘

In [110]:
fields = ["TEST_RESULT_TIME", "TEST_REQUEST_TIME", "TEST_START_TIME"]

group_3_0 = group_3_0.with_columns(
    pl.col("row")
    .str.extract_all(datetime_regex)
    .list.to_struct(fields=fields)
    .alias("dts")            
).unnest("dts")

group_3_0 = group_3_0.with_columns(
    pl.col("^.*_TIME$")
    .str.to_datetime()
)

group_3_0 = group_3_0.select(
    pl.col("CSN_HASH"), 
    pl.min_horizontal(fields).alias("datetime_val"),
    pl.col("CPT_CODE").alias("cat"),
    pl.lit("test ordered").alias("val")
).vstack(
    group_3_0.select(
        pl.col("CSN_HASH"), 
        pl.max_horizontal(fields).alias("datetime_val"),
        pl.col("CPT_CODE").alias("cat"),
        pl.col("ORD_VALUE").alias("val")
    )
).unique()

group_3_0.head()

shape: (5, 4)
┌─────────────────────────────────┬─────────────────────┬───────────┬──────────────┐
│ CSN_HASH                        ┆ datetime_val        ┆ cat       ┆ val          │
│ ---                             ┆ ---                 ┆ ---       ┆ ---          │
│ str                             ┆ datetime[μs]        ┆ str       ┆ str          │
╞═════════════════════════════════╪═════════════════════╪═══════════╪══════════════╡
│ 0xEB022C5D921F92C2A3A180F7B3A1… ┆ 2015-04-09 11:04:00 ┆ LAB955    ┆ test ordered │
│ 0x4A50C26B97BE59E0A7F2DF81F96E… ┆ 2016-05-04 13:03:00 ┆ LAB101760 ┆ 1            │
│ 0xDCA81555E53DEF32C674E5C72C82… ┆ 2015-09-17 00:52:00 ┆ LAB10120  ┆ test ordered │
│ 0xF19243C05040EB11F21BBBD4BA26… ┆ 2016-04-17 19:55:00 ┆ LAB101760 ┆ test ordered │
│ 0x4A50C26B97BE59E0A7F2DF81F96E… ┆ 2016-05-03 10:16:00 ┆ LAB101761 ┆ test ordered │
└─────────────────────────────────┴─────────────────────┴───────────┴──────────────┘

In [111]:
group_3_0.tail()

shape: (5, 4)
┌─────────────────────────────────┬─────────────────────┬───────────┬──────────────┐
│ CSN_HASH                        ┆ datetime_val        ┆ cat       ┆ val          │
│ ---                             ┆ ---                 ┆ ---       ┆ ---          │
│ str                             ┆ datetime[μs]        ┆ str       ┆ str          │
╞═════════════════════════════════╪═════════════════════╪═══════════╪══════════════╡
│ 0x8D5B762BC51C7B98C6DAFEB0423F… ┆ 2016-05-02 10:38:00 ┆ LAB101760 ┆ 1            │
│ 0x29216A98CB98380363EFB3E2CE43… ┆ 2016-04-07 03:13:00 ┆ LAB101760 ┆ test ordered │
│ 0xBDF229A080940F0744CDF3FBEFCD… ┆ 2015-04-17 09:53:00 ┆ LAB955    ┆ Stool        │
│ 0x8D5B762BC51C7B98C6DAFEB0423F… ┆ 2016-05-01 19:24:00 ┆ LAB101760 ┆ test ordered │
│ 0x374D9692BFD0E0FAF75EE80EBF9F… ┆ 2016-03-08 19:21:00 ┆ LAB12076  ┆ test ordered │
└─────────────────────────────────┴─────────────────────┴───────────┴──────────────┘

#### 6. Group 1

In [112]:
group_1 = group_1.with_columns(
    pl.col("row").str.count_matches(12 * ',NULL' + ',', literal=True).alias("12_NULL_count")
)

group_1['12_NULL_count'].value_counts().sort("count", descending=True)

shape: (1, 2)
┌───────────────┬───────┐
│ 12_NULL_count ┆ count │
│ ---           ┆ ---   │
│ u32           ┆ u32   │
╞═══════════════╪═══════╡
│ 1             ┆ 3734  │
└───────────────┴───────┘

Since there are 12 consecutie `NULL` in a series then transform this subset all as "test ordered" only.

In [128]:
group_1 = group_1.with_columns(
    pl.col("row")
    .str.extract(datetime_regex, 0)
    .alias("_TIME")            
)

group_1 = group_1.with_columns(
    pl.col("^.*_TIME$")
    .str.to_datetime()
)

group_1 = group_1.select(
    pl.col("CSN_HASH"), 
    pl.col("_TIME").alias("datetime_val"),
    pl.col("CPT_CODE").alias("cat"),
    pl.lit("test ordered").alias("val")
).unique()

group_1.head()

shape: (5, 4)
┌─────────────────────────────────┬─────────────────────┬──────────┬──────────────┐
│ CSN_HASH                        ┆ datetime_val        ┆ cat      ┆ val          │
│ ---                             ┆ ---                 ┆ ---      ┆ ---          │
│ str                             ┆ datetime[μs]        ┆ str      ┆ str          │
╞═════════════════════════════════╪═════════════════════╪══════════╪══════════════╡
│ 0x154A689F405B6BF88CEE2B37A8F1… ┆ 2015-10-22 13:47:00 ┆ GI2102   ┆ test ordered │
│ 0x3DA0474F522C2D7B97D4F1D53BB7… ┆ 2015-05-12 14:42:00 ┆ GI2100   ┆ test ordered │
│ 0x3292AF0875932908836E99E24148… ┆ 2016-02-25 11:47:00 ┆ GI2      ┆ test ordered │
│ 0x795BE7CBBE8006D633A17DCF387D… ┆ 2016-12-07 17:09:00 ┆ PRO21013 ┆ test ordered │
│ 0xD5EF8AA2E8F33C0E3CB7A8B2A4B4… ┆ 2016-01-19 17:17:00 ┆ GI210100 ┆ test ordered │
└─────────────────────────────────┴─────────────────────┴──────────┴──────────────┘

#### 7. Reconstitute

In [131]:
df_out = pl.concat(
    [
        group_1, 
        group_2, 
        group_3_0, 
        group_3_1, 
        group_4
    ]
).unique()

df_out.shape

(23210213, 4)

In [132]:
23213049 - 23210213

2836

In [130]:
df_out.head()

shape: (5, 4)
┌─────────────────────────────────┬─────────────────────┬──────────┬──────────────┐
│ CSN_HASH                        ┆ datetime_val        ┆ cat      ┆ val          │
│ ---                             ┆ ---                 ┆ ---      ┆ ---          │
│ str                             ┆ datetime[μs]        ┆ str      ┆ str          │
╞═════════════════════════════════╪═════════════════════╪══════════╪══════════════╡
│ 0x154A689F405B6BF88CEE2B37A8F1… ┆ 2015-10-22 13:47:00 ┆ GI2102   ┆ test ordered │
│ 0x3DA0474F522C2D7B97D4F1D53BB7… ┆ 2015-05-12 14:42:00 ┆ GI2100   ┆ test ordered │
│ 0x3292AF0875932908836E99E24148… ┆ 2016-02-25 11:47:00 ┆ GI2      ┆ test ordered │
│ 0x795BE7CBBE8006D633A17DCF387D… ┆ 2016-12-07 17:09:00 ┆ PRO21013 ┆ test ordered │
│ 0xD5EF8AA2E8F33C0E3CB7A8B2A4B4… ┆ 2016-01-19 17:17:00 ┆ GI210100 ┆ test ordered │
└─────────────────────────────────┴─────────────────────┴──────────┴──────────────┘

In [116]:
df_out.tail()

shape: (5, 4)
┌─────────────────────────────────┬─────────────────────┬────────┬──────────────┐
│ CSN_HASH                        ┆ datetime_val        ┆ cat    ┆ val          │
│ ---                             ┆ ---                 ┆ ---    ┆ ---          │
│ str                             ┆ datetime[μs]        ┆ str    ┆ str          │
╞═════════════════════════════════╪═════════════════════╪════════╪══════════════╡
│ 0x5A8276FB63D77813AE4FB025C547… ┆ 2014-07-06 14:44:00 ┆ LAB144 ┆ test ordered │
│ 0x2C3E077F355F3A99F58BD94A3D3D… ┆ 2015-04-10 16:00:00 ┆ LAB15  ┆ test ordered │
│ 0x2C3CA8E8E3CA151990B3CD43BD99… ┆ 2016-04-23 15:12:00 ┆ LAB56  ┆ test ordered │
│ 0x1242DDF9A9DC1C1978B6E99F7EF8… ┆ 2016-09-20 16:28:00 ┆ LAB347 ┆ test ordered │
│ 0x4CF38D8B907C96C44AFB3234483F… ┆ 2015-06-04 07:30:00 ┆ LAB47  ┆ 61           │
└─────────────────────────────────┴─────────────────────┴────────┴──────────────┘

#### EXTRA: Working with comma position information

In [9]:
# Step 2: Add a new column to count the number of commas in each row
df = df.with_columns(
    pl.col("row").str.count_matches(",", literal=True).alias("comma_count")
)

In [10]:
# Step 3: Partition the rows based on the number of commas
#  - Rows with 22 commas
group_22_commas = df.filter(pl.col("comma_count") == 22)

#  - Rows with more than 22
group_gt22_commas = df.filter(pl.col("comma_count") > 22)

#  - Rows with more than 22
group_lt22_commas = df.filter(pl.col("comma_count") < 22)

In [11]:
print(group_22_commas.shape[0], group_gt22_commas.shape[0], group_lt22_commas.shape[0])

10622056 4057743 0

In [12]:
group_22_commas.shape[0] + group_gt22_commas.shape[0] + group_lt22_commas.shape[0] == 14679799

True

In [13]:
group_gt22_commas = group_gt22_commas.with_columns(
    pl.col("row").str.count_matches("\s*,\s+|\s+,\s*", literal=False).alias("special_cond_count")
)

In [14]:
group_gt22_commas.slice(0, 1).to_numpy()[0, 0]

'0x6866B1E321722786E0C3CFBAF02E276B733967073B9099CC5C0D81857D37694D,96885439,Troponin I now, then in 3 hours,64647,SUNQUEST,12,41,NULL,2014-08-15 18:49:00.000,Final result,High,0.11,NULL,NULL,ng/mL,NULL,2014-08-15 17:10:00.000,2014-08-15 17:09:00.000,2014-08-15 18:49:00.000,H123700,VOELTZ, MICHELE,LAB747'

In [15]:
group_22_commas.slice(0, 1).to_numpy()[0, 0]

'0x6866B1E321722786E0C3CFBAF02E276B733967073B9099CC5C0D81857D37694D,96885441,Type and screen,1364,SUNQUEST,12,41,NULL,2014-08-15 18:11:00.000,Final result,NULL,AB POSITIVE,NULL,NULL,NULL,NULL,2014-08-15 17:10:00.000,2014-08-15 17:10:00.000,2014-08-15 18:11:00.000,H17974,BALIGA, SUDHIR,LAB276'

In [18]:
print(
    group_gt22_commas['special_cond_count']
    .value_counts()
    .sort("count", descending=True)
    .head()
)

shape: (5, 2)
┌────────────────────┬─────────┐
│ special_cond_count ┆ count   │
│ ---                ┆ ---     │
│ u32                ┆ u32     │
╞════════════════════╪═════════╡
│ 2                  ┆ 3625607 │
│ 3                  ┆ 350027  │
│ 4                  ┆ 63051   │
│ 1                  ┆ 18615   │
│ 5                  ┆ 293     │
└────────────────────┴─────────┘

In [103]:
group_gt22_commas.filter(pl.col('special_cond_count') == 1).slice(0, 1).to_numpy()[0, 0]

'0x58C33A0015F6CD6C32E9D8289BF8A8A1A2D4055F7C0BD109E595F1F49CB5314D,96887469,LDH,Total,840,SUNQUEST,12,41,NULL,2014-08-16 06:28:00.000,Final result,NULL,215,100,220,IU/L,Y,2014-08-16 01:00:00.000,2014-08-16 05:00:00.000,2014-08-16 06:28:00.000,H131370,BHANSALI, HARDIK,LAB96'

In [104]:
group_gt22_commas.filter(pl.col('special_cond_count') == 2).slice(0, 1).to_numpy()[0, 0]

'0x6866B1E321722786E0C3CFBAF02E276B733967073B9099CC5C0D81857D37694D,96885439,Troponin I now, then in 3 hours,64647,SUNQUEST,12,41,NULL,2014-08-15 18:49:00.000,Final result,High,0.11,NULL,NULL,ng/mL,NULL,2014-08-15 17:10:00.000,2014-08-15 17:09:00.000,2014-08-15 18:49:00.000,H123700,VOELTZ, MICHELE,LAB747'

In [105]:
group_gt22_commas.filter(pl.col('special_cond_count') == 3).slice(0, 1).to_numpy()[0, 0]

'0x24E04C33FFBFA485598CD345F162263DD571BB9842540A12BEBD000684AD2156,96886483,POC Glucose, metered, outpatient,123893,SUNQUEST,12,41,Performed by: Oprisiu Jessica,2014-09-10 14:07:00.000,Final result,NULL,85,50,140,mg/dL,Y,2014-09-10 14:00:00.000,2014-09-10 14:00:00.000,2014-09-10 14:07:00.000,G99999,ORDERING, GENERIC,LAB13496'

In [106]:
group_gt22_commas.filter(pl.col('special_cond_count') == 4).slice(0, 1).to_numpy()[0, 0]

'0xA21E4A754477F4D124AFC220EC87A2ED6EA8816D2DF510643421F164E41557D4,96891146,Pregnancy, urine, qualitative,35359,SUNQUEST,12,46,Although the production of HCG is extremely rapid following conception, it varies among individuals.  A negative value does not rule out pregnancy.  A serum quantitative HCG may be of clinical utility when greater assurance is required.,2014-08-15 18:28:00.000,Final result,NULL,Negative,NULL,NULL,NULL,NULL,2014-08-15 17:41:00.000,2014-08-15 17:42:00.000,2014-08-15 18:28:00.000,H31921,CHOPRA, AMIT,LAB437'

### Replace all (attempt #1)

In [19]:
group_gt22_commas = group_gt22_commas.with_columns( 
    pl.col("row").str.replace_all("\s*,\s+|\s+,\s*", " ", literal=False)
)

In [20]:
group_gt22_commas = group_gt22_commas.with_columns(
    pl.col("row").str.count_matches(",", literal=True).alias("comma_count_2")
)

In [21]:
print(group_gt22_commas['comma_count_2'].value_counts().sort("count", descending=True).head(10))

shape: (10, 2)
┌───────────────┬─────────┐
│ comma_count_2 ┆ count   │
│ ---           ┆ ---     │
│ u32           ┆ u32     │
╞═══════════════╪═════════╡
│ 21            ┆ 3955103 │
│ 20            ┆ 59430   │
│ 22            ┆ 42438   │
│ 23            ┆ 669     │
│ 24            ┆ 44      │
│ 25            ┆ 30      │
│ 19            ┆ 9       │
│ 26            ┆ 5       │
│ 29            ┆ 3       │
│ 28            ┆ 2       │
└───────────────┴─────────┘

In [122]:
group_gt22_commas.filter(pl.col('comma_count_2') == 20).slice(0, 1).to_numpy()[0, 0]

'0x6F22E7B154E1B50658797571BA3F9BB197BB156D1D929FBB1D301E194DE30C4A,96889059,Emergency Toxicology Screen urine,64575,SUNQUEST,12,41 300 ng per ml cutoff,2014-08-16 01:21:00.000,Final result,NULL,Not detected,NULL,NULL,NULL,NULL,2014-08-15 17:29:00.000,2014-08-15 17:27:00.000,2014-08-16 01:21:00.000,H11599,FOLT JASON,LAB677'

In [123]:
group_gt22_commas.filter(pl.col('comma_count_2') == 22).slice(0, 1).to_numpy()[0, 0]

'0x58C33A0015F6CD6C32E9D8289BF8A8A1A2D4055F7C0BD109E595F1F49CB5314D,96887469,LDH,Total,840,SUNQUEST,12,41,NULL,2014-08-16 06:28:00.000,Final result,NULL,215,100,220,IU/L,Y,2014-08-16 01:00:00.000,2014-08-16 05:00:00.000,2014-08-16 06:28:00.000,H131370,BHANSALI HARDIK,LAB96'

In [92]:
headers = [
    "CSN_HASH", # ***
    "ORDER_ID",
    "DISPLAY_NAME",
    "PROC_ID", 
    "LAB_NAME",
    "RESULT_LAB_ID",
    "RESULTING_LAB_ID",
    "COMPONENT_COMMENT",
    "RESULT_TIME", # TIME
    "RESULT_TYPE",
    "RESULT_FLAG",
    "ORD_VALUE", # ***             
    "REFERENCE_LOW",
    "REFERENCE_HIGH",
    "REFERENCE_UNIT",
    "RESULT_IN_RANGE_Y_OR_N",
    "TEST_REQUEST_TIME",  # TIME
    "TEST_START_TIME",  # TIME
    "TEST_COMPLETE_TIME",  # TIME
    "PROVIDER_ID",
    "PHYSICIAN_LASTNAME",
    "PHYSICIAN_FIRSTNAME",
    "CPT_CODE" # ***
]

In [41]:
headers[-7:]

['TEST_REQUEST_TIME',
 'TEST_START_TIME',
 'TEST_COMPLETE_TIME',
 'PROVIDER_ID',
 'PHYSICIAN_LASTNAME',
 'PHYSICIAN_FIRSTNAME',
 'CPT_CODE']

### How to extract `ORD_VALUE` which is the result value? 
"Find the first datetime, slide over two commas, then you're at `ORD_VALUE`"
```
    "RESULT_TIME", # TIME
    "RESULT_TYPE",
    "RESULT_FLAG",
    "ORD_VALUE" # ***   
```

In [147]:
group_4_dates = group_4_dates.with_columns(
    pl.col("row")
    .str.find(r"\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}")
    .alias("first_dt_pos")
)
group_4_dates.head()

shape: (5, 12)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ row       ┆ comma_cou ┆ special_c ┆ comma_cou ┆ … ┆ TEST_REQU ┆ TEST_STAR ┆ TEST_COMP ┆ first_dt │
│ ---       ┆ nt        ┆ ond_count ┆ nt_2      ┆   ┆ EST_TIME  ┆ T_TIME    ┆ LETE_TIME ┆ _pos     │
│ str       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆ u32       ┆ u32       ┆ u32       ┆   ┆ datetime[ ┆ datetime[ ┆ datetime[ ┆ u32      │
│           ┆           ┆           ┆           ┆   ┆ μs]       ┆ μs]       ┆ μs]       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 0x6866B1E ┆ 23        ┆ 2         ┆ 21        ┆ … ┆ 2014-08-1 ┆ 2014-08-1 ┆ 2014-08-1 ┆ 133      │
│ 321722786 ┆           ┆           ┆           ┆   ┆ 5         ┆ 5         ┆ 5         ┆          │
│ E0C3CFBAF ┆           ┆           ┆           ┆   ┆ 17:10:00  ┆ 17:09:00  ┆ 18:49:00  ┆          │
│ 02E…      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 0x6866B1E ┆ 23        ┆ 2         ┆ 21        ┆ … ┆ 2014-08-1 ┆ 2014-08-1 ┆ 2014-08-1 ┆ 133      │
│ 321722786 ┆           ┆           ┆           ┆   ┆ 5         ┆ 5         ┆ 5         ┆          │
│ E0C3CFBAF ┆           ┆           ┆           ┆   ┆ 17:10:00  ┆ 20:09:00  ┆ 21:59:00  ┆          │
│ 02E…      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 0x3C50FD7 ┆ 23        ┆ 2         ┆ 21        ┆ … ┆ 2014-08-1 ┆ 2014-08-1 ┆ 2014-08-1 ┆ 119      │
│ BDB88597E ┆           ┆           ┆           ┆   ┆ 5         ┆ 5         ┆ 5         ┆          │
│ 0A426AFBC ┆           ┆           ┆           ┆   ┆ 17:01:00  ┆ 17:02:00  ┆ 17:39:00  ┆          │
│ 3E1…      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 0x3C50FD7 ┆ 23        ┆ 2         ┆ 21        ┆ … ┆ 2014-08-1 ┆ 2014-08-1 ┆ 2014-08-1 ┆ 123      │
│ BDB88597E ┆           ┆           ┆           ┆   ┆ 5         ┆ 5         ┆ 5         ┆          │
│ 0A426AFBC ┆           ┆           ┆           ┆   ┆ 17:01:00  ┆ 17:02:00  ┆ 17:39:00  ┆          │
│ 3E1…      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 0x440960B ┆ 23        ┆ 2         ┆ 21        ┆ … ┆ 2014-08-1 ┆ 2014-08-1 ┆ 2014-08-1 ┆ 116      │
│ 54DB9F0AF ┆           ┆           ┆           ┆   ┆ 6         ┆ 6         ┆ 7         ┆          │
│ C9A50586F ┆           ┆           ┆           ┆   ┆ 17:00:00  ┆ 21:00:00  ┆ 06:52:00  ┆          │
│ CC8…      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [149]:
mylist = group_4_dates.slice(0, 5).to_numpy()[:, 0]
[i[:133] for i in mylist]

['0x6866B1E321722786E0C3CFBAF02E276B733967073B9099CC5C0D81857D37694D,96885439,Troponin I now then in 3 hours,64647,SUNQUEST,12,41,NULL,',
 '0x6866B1E321722786E0C3CFBAF02E276B733967073B9099CC5C0D81857D37694D,96885440,Troponin I now then in 3 hours,64647,SUNQUEST,12,41,NULL,',
 '0x3C50FD7BDB88597E0A426AFBC3E184FC15D729DFEA0741A7F7684FEF0FD95FC8,96885474,Blood Gas arterial,800,SUNQUEST,12,25,NULL,2014-08-15 17:',
 '0x3C50FD7BDB88597E0A426AFBC3E184FC15D729DFEA0741A7F7684FEF0FD95FC8,96885475,Lactate whole blood,110329,SUNQUEST,12,25,NULL,2014-08-15',
 '0x440960B54DB9F0AFC9A50586FCC816ABCF16B770FC7519DB70195F49421D74AE,96885637,Calcium ionized,756,SUNQUEST,12,41,NULL,2014-08-17 06:52:']

In [151]:
[i[133:190] for i in mylist]

['2014-08-15 18:49:00.000,Final result,High,0.11,NULL,NULL,',
 '2014-08-15 21:59:00.000,Final result,High Panic,7.73,NULL',
 '39:00.000,Final result,Low,73.8,80,100,mmHg,NULL,2014-08-',
 ' 17:39:00.000,Final result,NULL,1.6,0.5,2.2,mmol/L,Y,2014',
 '00.000,Final result,NULL,1.14,1.00,1.35,mmol/L,Y,2014-08-']

We want to extract `0.11`, `7.73`, `73.8`, `1.6`, and `1.14`, respectively.

In [148]:
group_4_dates = group_4_dates.with_columns(
    pl.col('row')
    .str.slice(pl.col("first_dt_pos"))
    .str.splitn(",", 5)
    .struct.rename_fields(["RESULT_TIME_1", "RESULT_TYPE", "RESULT_FLAG", "ORD_VALUE", "OTHER"])
    .alias("t_break")
).unnest("t_break")

group_4_dates = group_4_dates.drop(["RESULT_TIME_1", "RESULT_TYPE", "RESULT_FLAG", "OTHER"])

group_4_dates.head()

shape: (5, 13)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ row       ┆ comma_cou ┆ special_c ┆ comma_cou ┆ … ┆ TEST_STAR ┆ TEST_COMP ┆ first_dt_ ┆ ORD_VALU │
│ ---       ┆ nt        ┆ ond_count ┆ nt_2      ┆   ┆ T_TIME    ┆ LETE_TIME ┆ pos       ┆ E        │
│ str       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆ u32       ┆ u32       ┆ u32       ┆   ┆ datetime[ ┆ datetime[ ┆ u32       ┆ str      │
│           ┆           ┆           ┆           ┆   ┆ μs]       ┆ μs]       ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 0x6866B1E ┆ 23        ┆ 2         ┆ 21        ┆ … ┆ 2014-08-1 ┆ 2014-08-1 ┆ 133       ┆ 0.11     │
│ 321722786 ┆           ┆           ┆           ┆   ┆ 5         ┆ 5         ┆           ┆          │
│ E0C3CFBAF ┆           ┆           ┆           ┆   ┆ 17:09:00  ┆ 18:49:00  ┆           ┆          │
│ 02E…      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 0x6866B1E ┆ 23        ┆ 2         ┆ 21        ┆ … ┆ 2014-08-1 ┆ 2014-08-1 ┆ 133       ┆ 7.73     │
│ 321722786 ┆           ┆           ┆           ┆   ┆ 5         ┆ 5         ┆           ┆          │
│ E0C3CFBAF ┆           ┆           ┆           ┆   ┆ 20:09:00  ┆ 21:59:00  ┆           ┆          │
│ 02E…      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 0x3C50FD7 ┆ 23        ┆ 2         ┆ 21        ┆ … ┆ 2014-08-1 ┆ 2014-08-1 ┆ 119       ┆ 73.8     │
│ BDB88597E ┆           ┆           ┆           ┆   ┆ 5         ┆ 5         ┆           ┆          │
│ 0A426AFBC ┆           ┆           ┆           ┆   ┆ 17:02:00  ┆ 17:39:00  ┆           ┆          │
│ 3E1…      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 0x3C50FD7 ┆ 23        ┆ 2         ┆ 21        ┆ … ┆ 2014-08-1 ┆ 2014-08-1 ┆ 123       ┆ 1.6      │
│ BDB88597E ┆           ┆           ┆           ┆   ┆ 5         ┆ 5         ┆           ┆          │
│ 0A426AFBC ┆           ┆           ┆           ┆   ┆ 17:02:00  ┆ 17:39:00  ┆           ┆          │
│ 3E1…      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 0x440960B ┆ 23        ┆ 2         ┆ 21        ┆ … ┆ 2014-08-1 ┆ 2014-08-1 ┆ 116       ┆ 1.14     │
│ 54DB9F0AF ┆           ┆           ┆           ┆   ┆ 6         ┆ 7         ┆           ┆          │
│ C9A50586F ┆           ┆           ┆           ┆   ┆ 21:00:00  ┆ 06:52:00  ┆           ┆          │
│ CC8…      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [152]:
assert group_4_dates["ORD_VALUE"].null_count() == 0

In [154]:
group_4_dates.shape[0], group_4_dates["ORD_VALUE"].n_unique()

(3045085, 27638)

0.9379964762888392